---
admin_notes: ''
invariant: false
---
{% assign current_date = "now" %}
<div class="copyright text-center small">
  Copyright © {{ current_date | date: "%Y" }} 
  <a target='_blank' href='http://www.interactiveliterature.org/NEIL'>New England Interactive Literature</a>
  <br>
  All Rights Reserved
  &bull;
  <a href="{% page_url cookies %}">Cookie policy</a>
</div>