%p
  The event proposal for "#{@event_proposal.title}" has been updated by
  #{@event_proposal.owner.name} and is waiting for your review
  #{link_to 'here', event_proposal_url_for_convention(@event_proposal)}.
