%h1 Proposal updated

%p
  The event proposal for "#{@event_proposal.title}" has been updated
  and is waiting for your review
  #{link_to 'here', event_proposal_url_for_convention(@event_proposal)}.

%hr

%h2 Change log

- timezone = @event_proposal.convention.timezone
- form_items = @event_proposal.convention.event_proposal_form.form_items.index_by(&:identifier)

= render partial: 'form_response_changes/table', locals: { timezone: timezone, form_items: form_items, changes: @changes }
