%h1 Proposal updated

%p
  The event proposal for "#{@event_proposal.title}" has been updated
  and is waiting for your review
  #{link_to 'here', event_proposal_url_for_convention(@event_proposal)}.

%hr

%h2 Change log

= FormResponseChangeGroupPresenter.new(@changes, @event_proposal.convention).html
