%p
  Hi there!  Just a reminder: you started a proposal for "#{@event_proposal.title}"
  on #{@event_proposal.created_at.to_s(:date_only_with_weekday)}, but haven't submitted it to
  #{@event_proposal.convention.name} yet.

%p
  %strong
    If you'd like to finish your proposal, go
    #{link_to 'here', event_proposal_url_for_convention(@event_proposal)}!
