{
  "$schema": "https://json.schemastore.org/swcrc",
  "jsc": {
    "baseUrl": "./app/javascript",
    "parser": {
      "syntax": "typescript",
      // "jsx": true,
      "dynamicImport": true
    },
    "transform": {
      "react": {
        "runtime": "automatic"
      }
    }
  }
}
