= react_component 'DatagridFilters', filters: grid.filters.map { |filter| { name: filter.name, form_builder_helper_name: filter.form_builder_helper_name, options: filter.options, select_options: (filter.type == :enum ? grid.select_options(filter) : nil) } }
