<h2>Sign up</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <%= render :partial => "form", :locals => { :resource => resource, :f => f } %>
<% end %>

<%= render :partial => "devise/shared/links" %>
