<!DOCTYPE html>
<html lang="en">
  <head>
    {{ content_for_head }}
  <body>
    {{ content_for_navbar }}
    
    <div class="container">
      {{ content_for_layout }}
    </div>
  </body>
</html>
