---
name: Statement of Intent - Challenging Content
admin_notes: ''
skip_clickwrap_agreement: false
hidden_from_search: false
---
<h1 class="my-3">NEIL / Intercon Statement of Intent</h1>
<h2 class="my-3">Challenging content at Intercon</h2>
<h4 class="my-2">Posted: April 12, 2019</h3>
<h3 class="my-2">Introduction</h3>
<p class='lead'>Over the past decade, the Intercon staff has made several changes to how Intercon runs. Many of these changes were made with the intent of improving safety.  We haven’t gone into the full details with all members of the community of why these changes were implemented.  To that end, we want to clarify the goals of these efforts and explain the  actions taken for them.</p>

<p>Our primary goal in running Intercon is for it to be the best venue for larps that it can be, and all the decisions we make are to that end.  We actively want a wide variety of games at Intercon, including ones that explore complicated themes, dangerous ideas, and difficult topics.  The best way to support these kinds of games is to provide a support structure so that our attendees can safely choose to engage with them.  We ask GMs to provide content warnings on their games, to allow players to opt into or out of content that they know they will find hard, rather than having to avoid games because they don’t know what themes and content will be in them.  By providing a trained Safety team, we allow people to feel comfortable engaging with more difficult stories, and immersing themselves in character.  The Safety team provides people that players and GMs can talk to, if something goes in unexpected ways or affects them harder than anticipated.  We want GMs to be able to explore challenging content if they want to do so. Because we're all human, that comes with an inherent risk of making a mistake and presenting said content in a way that is likely to cause harm. By having the proposal team proactively review for potentially difficult content as part of their review, we allow space for GMs to make those mistakes in ways that don’t directly have a negative impact on players.</p>

<p>We love games that are deeply emotional, carefully explore hard topics, and contain dangerous ideas.  We want those games to thrive at Intercon, alongside games that do not contain these elements.  It is important to remember that stories that explore topics that can cause real world pain have the potential to be cathartic and healing, but these stories also have the potential to inflict pain themselves. This is especially true when games address these items in an exploitative or trivializing manner. However, even if a game treats a difficult topic with care and sensitivity, there may still be some players who would be harmed by playing it.  We want there to be space for those games to run at Intercon, while also allowing players to make informed choices about whether they want to play in them.  These changes in policy are not to censor games, but to free them and players to explore difficult concepts and topics in a collaborative fashion. They allow for informed consent about a game’s topics so that everyone involved has a better idea of what the game they are playing is about.</p>

<p>Below are more details on our views on Safety at Intercon, why it matters to us, and how we intend for Intercon to continue to be a place for lots of different types of games.</p>

<h3 class="my-2">Statement</h3>
<ol>
  <li>We want larpers (both players and game runners) to be able to explore complicated themes, dangerous ideas, and difficult topics if they want to engage in those areas. We also want to allow larpers who do not, to be able to choose not to engage.</li>
  <li>We want to provide space for attendees to play larps safely, and in ways that retain their agency.</li>
  <li>Players:
    <ol type='a'>
      <li>Have a right to know what ideas and themes are present in the larps they're signing up for.</li>
      <li>Have a right to know which themes they can avoid if they choose and which ones are unavoidable in any one particular game.</li>
      <li>Have a right to know they can trust game runners to respect their choices to avoid certain ideas and themes.</li>
      <li>Have a right to leave a space or game area if they do not feel safe for any reason</li>
      <li>Have a responsibility to know their own limits and know which ideas and themes they should avoid.</li>
      <li>Have a responsibility to respect the limits of their fellow players and of the games they sign up for.</li>
    </ol>
  </li>
  <li>Game runners:
    <ol type='a'>
      <li>Have a right to create games that include hard topics and dangerous ideas.</li>
      <li>Have a right to make mistakes.</li>
      <li>Have a right to be in charge of the space that their game runs in during run time.  </li>
      <li>Have a responsibility to own mistakes they make and address them appropriately. This may include being asked to not run a particular game at Intercon.</li>
      <li>Have a responsibility to clearly communicate to potential players the ideas and themes their games explore or to explicitly and obviously opt out of doing so.</li>
      <li>Have a responsibility to ensure that games have appropriate levels of control regarding safety, informed by the ideas and themes their games explore.</li>
    </ol>
  </li>
  <li>Convention organizers:
    <ol type='a'>
      <li>Have a responsibility to protect our attendees (both players and game runners).</li>
      <li>Have a responsibility to provide resources to game runners to help them create safer games.</li>
    </ol>
  </li>
</ol>
<p>
  Dave Kapell, NEIL President, Conchair - Intercon S
  <br>Jaelen Hartwin, Conchair - Intercon T
</p>
