---
name: Statement of Intent - Queer/Polyamorous Content in Larps
skip_clickwrap_agreement: false
hidden_from_search: false
---
<h1 class="my-3">NEIL Position Statement</h1>
<h2 class="my-3">Queer and Polyamorous Content at NEIL Events</h2>
<h4 class="my-2">Posted: October 16, 2019</h3>


<p>It has come to the attention of the board of New England Interactive Literature that some GMs from previous years have gotten complaints from players for including non-explicit queer or polyamorous content in their games without a content warning (for example, "queer people exist in the game world").</p>
<p>While we encourage GMs to publicize romantic content of any sort via game descriptions, the simple presence of characters who are queer and/or polyamorous, or themes of queerness or polyamory, in a family-friendly non-explicit game, does not require a content warning.</p>
<p>Appropriate content warnings (or an explicit statement that the game writers are choosing to not use content warnings) are expected from games that include themes of oppression or harassment of queer or polyamorous people, or that include content inappropriate for people under 18.</p>
<p>While NEIL events do not actively prioritize queer content, we are intentionally a community that is welcoming to queer and polyamorous larpers. As such, expecting warnings for those themes and characters is inappropriate and sends an inaccurate message that we don't want those larpers at our events.</p>