%p.my-4
  In order to use the #{convention.name} web site, you must agree to the following terms of service.
  If you do not agree, please close this browser window.

.px-4
  .card
    .card-header
      #{convention.name} terms of service
    .card-body
      = cadmus_renderer.render Liquid::Template.parse(convention.clickwrap_agreement), :html
    .card-footer.text-right
      = form_tag accept_clickwrap_agreement_path, method: 'POST' do
        %input.btn.btn-primary{type: 'submit', value: 'I agree'}
