%h1 My #{convention.name} Profile

%dl.dl-horizontal
  = render 'user_con_profiles/common_profile_data', user_con_profile: @user_con_profile

= link_to "Edit my profile", edit_my_profile_path, class: "btn btn-secondary"