- cache @event do
  %section.my-4
    %hr

    = MarkdownPresenter.new('No description provided').render @event.description

  - %w[content_warnings age_restrictions participant_communications].each do |field|
    - value = @event.public_send(field)
    - if value.present?
      %hr

      %section.my-4
        %h4= field.humanize

        = MarkdownPresenter.new('No information provided').render value
