= app_component 'RunCapacityGraph',
  event: { registration_policy: @event.registration_policy.as_json },
  run: { signup_count_by_state_and_bucket_key_and_counted: count_presenter.signup_count_by_state_and_bucket_key_and_counted.to_json },
  signupsAvailable: count_presenter.signups_available
