%h1
  Events at #{convention.name}
- @events.each do |event|
  %p
    = link_to event.title, event
    %br
    - author_or_org = event.author.presence || event.organization
    - if author_or_org.present?
      %i
        by #{author_or_org}
      %br
    = sanitize event.short_blurb
