%h1
  Events at #{convention.name}
- @events.each do |event|
  .card.my-4
    .card-header
      %h4{style: "margin: 0"}= link_to event.title, event
      - author_or_org = event.author.presence || event.organization
      - if author_or_org.present?
        %p{style: "margin: 0"}
          %em by #{author_or_org}
    .card-block
      = sanitize event.short_blurb
