%h1
  LARPs at #{convention.name}
- @larps.each do |l|
  %p
    = link_to(l.title, l.becomes(Event))
    %br/
    - if l.author_or_org?
      %i
        by #{l.author_or_org}
      %br/
    = l.short_blurb
