%h1
  Events at #{convention.name}
- @events.each do |event|
  %p
    = link_to event.title, event
    %br/
    - if event.author_or_org?
      %i
        by #{event.author_or_org}
      %br/
    = event.short_blurb
