%nav{'aria-label' => 'breadcrumb'}
  %ol.breadcrumb
    %li.breadcrumb-item
      = link_to 'Con schedule', schedule_events_path
    %li.breadcrumb-item.active{'aria-current' => 'page'}
      Schedule by room

= app_component 'ScheduleGrid', basename: schedule_by_room_events_path, configKey: 'con_schedule_by_room'

%p.font-italic
  Events that use multiple rooms will appear multiple times on this schedule.

.mt-4
  = app_component 'CategoryLegend'
