%nav{'aria-label' => 'breadcrumb'}
  %ol.breadcrumb
    %li.breadcrumb-item.active{'aria-current' => 'page'}
      Con schedule

= schedule_grid classifyEventsBy: 'category', showSignupStatusBadge: true, showSignedUp: true, basename: schedule_events_path

.mt-4
  = app_component 'CategoryLegend'
