<p>
  <%= @signup_request.user_con_profile.name %> has requested to sign up for
  <%= @signup_request.target_run.event.title %>.  To review, accept, and/or reject the request,
  go to <%= link_to 'the signup moderation queue', signup_moderation_url_for_convention(@signup_request) %>.
</p>
