---
name: Code of Conduct
invariant: false
skip_clickwrap_agreement: true
---
<h1>Conduct</h1>

<p><strong>TL;DR:</strong> All players are expected to be respectful of the site and each other, in and out of the game.  Treat others how you want to be treated, respect people’s boundaries and get affirmative consent when needed, and treat the property as you would your mother’s house. Let the staff know promptly if any problems arise.</p>  

<p>Please make all reasonable efforts to respect the wishes of other participants regarding their desires to be included or excluded from photographs, video, and other recordings; and whether or not they are amenable to being tagged by name in such recordings on the internet (for example, in a photograph posted on a social networking site).</p>

<p>Inappropriate conduct includes, but is not limited to, offensive verbal comments related to gender, gender identity and expression, sexual orientation, disability, physical appearance, body size, race, age, or religion. It also includes display of sexual images in public spaces, deliberate intimidation, stalking, following, harassing photography or recording, sustained disruption of games or other events, inappropriate physical contact, unwelcome sexual attention, bathroom policing, and unwelcome simulated combat using realistic or non-realistic weapon props. Participants asked to stop any inappropriate conduct are expected to comply immediately.</p>

<p>If a participant engages in harassing behavior, the event organizers may take any action they deem appropriate, including warning the offender or expulsion with no refund. If you are being harassed, notice that someone else is being harassed, or have any other concerns, please contact a member of the event staff immediately.</p>

<p>Inappropriate behavior can result in being asked to leave the event and/or being disinvited from future events held by Occultopus Productions. If you have any questions please contact staff.</p>
