---
name: Food
invariant: false
skip_clickwrap_agreement: false
---
<h1>Food</h1>

<p>A vegetarian meal will be provided in game along with the ritual foods during the Seder dinner.  If you have any food restrictions or allergies we should know about, <a href="mailto:tls2019@occultopus.org">please let us know</a>.</p>

<p>The celebration of Passover requires abstaining from all leavened breads and grains.  Matzo, an unleavened wheat cracker, is the only permissible bread during the eight days of Passover.  The meal during the game will follow this restriction, but will not be strictly Kosher for Passover (nor will it be Kosher).</p>

<h2>Post-game meal (“dead dog”)</h2>

<p>After the game, as is tradition, we invite you to come with us to a restaurant (maybe Shari's?  TBD) to decompress, hang out, and share stories.  Bread will be gleefully enjoyed at the post-game meal.</p>