{% assign signups = user_con_profile.signups | sort: "starts_at" %}

{% if signups.size > 0 %}
  <section class="card bg-info text-white my-4">
    <div class="card-header">My Schedule</div>

    <ul class="list-group list-group-flush text-dark">
      {% for signup in signups %}
        <li class="list-group-item d-flex align-items-center">
          <div style="width: 11em">
            {{ signup.starts_at | date: "%a %l:%M%P" }} - {{ signup.ends_at | date: "%l:%M%P" }}
          </div>
          <div class="col">
            <a href="{{ signup.event_url }}">{{ signup.event.title }}</a>
            {% render "signup_bucket_description" signup:signup %}
          </div>

          <div>
            {% withdraw_user_signup_button signup %}
          </div>
        </li>
      {% endfor %}
    </ul>
  </section>
{% endif %}
