{% assign event_proposals = user_con_profile.event_proposals | sort: "created_at" %}

{% unless event_proposals == empty %}
  <div class="card bg-info text-white mb-4">
    <div class="card-header d-flex justify-content-between align-items-center">
      <div>
        My Event Proposals
      </div>
      {% new_event_proposal_button "Propose another event" btn btn-outline-light btn-sm %}
    </div>
      <ul class="list-group list-group-flush text-dark">
        {% for event_proposal in event_proposals %}
          <li class="list-group-item d-flex justify-content-between align-items-baseline">
            <div>
              <strong>
                {% if event_proposal.title %}
                  {{ event_proposal.title }}
                {% else %}
                  Untitled
                {% endif %}
              </strong>

              ({{ event_proposal.status }})
            </div>
            {% if event_proposal.status == 'draft' %}
              <a href="{{ event_proposal.edit_url }}" class="btn btn-primary btn-sm">
                Continue
              </a>
            {% elsif event_proposal.status == 'proposed' or event_proposal.status == 'reviewing' or event_proposal.status == 'tentative_accept' %}
              <a href="{{ event_proposal.edit_url }}" class="btn btn-secondary btn-sm">
                Edit
              </a>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
  </div>
{% endunless %}
