---
name: Host with us
admin_notes: ''
skip_clickwrap_agreement: false
hidden_from_search: false
---
<h1 class="mb-4">Host with us</h1>

<p>
  <a href="http://interactiveliterature.org">New England Interactive Literature</a> is now
  offering web site hosting for larp conventions.  Using our open-source platform,
  <a href="https://github.com/neinteractiveliterature/intercode">Intercode</a>, your
  convention can take advantage of a highly customizable content management system,
  self-registration for games, and ticket sales via Stripe.
</p>

<p>
  Pricing is as follows:
</p>

<ul>
  <li><strong>Free</strong> for conventions that are free of charge to attend</li>
  <li>
    <strong>$0.50 per attendee</strong> for conventions that charge for tickets
  </li>
</ul>

<p>
  <a href="https://docs.google.com/document/d/1RyBiTiCAEalDS7iMIJ-Yt9g7A4wIrsy1wplLzRm_h_Q/edit?usp=sharing" target="_blank">
    The full terms of service, including more details on the logistics of using NEIL Hosting,
    are available here.
  </a>
</p>

<p>
  <a href="mailto:hosting@interactiveliterature.org?subject=NEIL+Hosting+Inquiry" class="btn btn-primary">
    <i class="bi-envelope-fill"></i>
    &nbsp;
    Interested? Email our web team.
  </a>
</p>