---
name: Hotel FAQ
admin_notes: ''
skip_clickwrap_agreement: false
hidden_from_search: false
---
<h1 class="my-3">{{convention.name}} Hotel FAQ and Room Images</h1>
<div class="row">
  <div class="col-lg-3">
    <ul class="section-nav sticky-top" style="top:72px">
      <li class="toc-entry menu-header" style='display:none'>
        <h4>Hotel FAQ</h4>
      </li>
      <li class="toc-entry"><a href="#logistics">Logistics</a>
        <ul>
          <li class="toc-entry"><a href="#logistics-getting-there">Getting There</a></li>
          <li class="toc-entry"><a href="#logistics-reservations">Reserving a Room</a></li>
          <li class="toc-entry"><a href="#logistics-hotel-rooms">Hotel Rooms</a></li>
          <li class="toc-entry"><a href="#logistics-parlors">Parlors</a></li>                                                                       
          <li class="toc-entry"><a href="#logistics-larp-space">Space for Larps</a></li>
          <li class="toc-entry"><a href="#logistics-food">Food</a></li>
          <li class="toc-entry"><a href="#logistics-floor-plan">Hotel Map</a></li>
        </ul>
      </li>
      <li class="toc-entry"><a href="#rooms">Function Rooms</a>
        <ul>
          <li class="toc-entry"><a href="#rooms-table">Sizes and Locations</a></li>
          <li class="toc-entry"><a href="#rooms-atrium">Atrium</a></li>
          <li class="toc-entry"><a href="#rooms-basement">Barrington, Greenwich, Kingston</a></li>
          <li class="toc-entry"><a href="#rooms-bristol">Bristol A & B</a></li>
          <li class="toc-entry"><a href="#rooms-naragansett">Naragansett</a></li>
          <li class="toc-entry"><a href="#rooms-newport">Newport & Wickford</a></li>
          <li class="toc-entry"><a href="#rooms-ocean">Ocean</a></li>
          <li class="toc-entry"><a href="#rooms-patriots">Patriots</a></li>
          <li class="toc-entry"><a href="#rooms-rhode-island">Rhode Island</a></li>
          <li class="toc-entry"><a href="#rooms-rotunda">Rotunda</a></li>
          <li class="toc-entry"><a href="#rooms-tiverton">Tiverton</a></li>
          <li class="toc-entry"><a href="#rooms-parlors">Parlors A-D</a></li>
          <li class="toc-entry"><a href="#rooms-boardrooms">Elms & Wellington</a></li>
          <li class="toc-entry"><a href="#rooms-plaza-foyer">Plaza Foyer</a></li>
          <li class="toc-entry"><a href="#rooms-guest-room">Intercon-Provided Guest Room</a></li>
        </ul>
      </li>
</ul>
</div>
<div class='col'>

<h2 class="my-3"><a name='logistics'>Logistics</a></h2>

<h3 class="my-2"><a name='logistics-getting-there'>Getting There</a></h3>
<p><strong>By car:</strong> The Hotel is just over an hour from downtown Boston via I-95.</p>
<p><strong>By public transit:</strong> The Providence/Stoughton Line of the MBTA commuter rail goes to TF Green Airport from Boston's South Station during the week, and there is a shuttle from there to the hotel which runs regularly until the evening, and then will do pickups by request. (1-401-732-6000).  Please note that, at this time, the MBTA commuter rail does not go all the way to TF Green on the weekends.</p>
<p><strong>By air:</strong> Fly to Logan (BOS) and take the MBTA as above, or tor TF Green (PVD) and take the shuttle to the airport.
  <br>
The hotel runs a shuttle to the airport 7 days a week, on the :05, :25, :45 of every hour between 4:00am-1:00am. If you need pickup from the airport, you can call the hotel directly once at baggage claim and a shuttle will be sent. The shuttle picks up from the second curb.</p>

<h3 class="my-2"><a name='logistics-reservations'>Room Reservations</a></h3>
  <p>
You can reserve a room on <a href="https://www.crownehotelwarwick.com/" target="_blank">the hotel's webpage</a> or by calling 1-401-732-6000 and using the group code <strong>‘{{ hotel_block_code }}’</strong>.  Rooms are ${{hotel_king_rate}} per night, and are available with a king bed or two queen beds.  More information about the rooms, including sizes is available on <a href="http://www.crownehotelwarwick.com/accommodations" target="_blank">The hotel's accomodations page.</a>
  </p>

<h3 class="my-2"><a name='logistics-hotel-rooms'>Hotel Rooms</a></h3>
<p>
  Attendee rooms are about the same size as at other hotels we have used previously, although all rooms have been recently renovated.
</p>
  <div class='row'>
    <div class='col'>
  <p class='text-center'>
    <img class='img-fluid rounded' src="{% file_url "hotel-guest-room.jpg" %}" border="0">
    King Room
  </p>
    </div>
    <div class='col'>
       <p class='text-center'>
    <img class='img-fluid rounded' src="{% file_url "hotel-guest-room-queen.jpg" %}" border="0">
         Two Queen Room
  </p>
    </div>
  </div>

  <h3 class="my-2"><a name='logistics-parlors'>Parlors</a></h3>
  <p>
    The hotel has four parlors, which Intercon has rented for game space.  Each parlor has a living room area, dining room area, and a kitchenette area, and a bathroom, but is one large space other than the bathroom.  These will be used for function / game space.
  </p>
  
<h3 class="my-2"><a name='logistics-larp-space'>Space for Larps</a></h3>
  <p>
    Because the Crowne Plaza has very large rooms, it is unlikely that any game will have more than one space to run in.  Intercon and NEIL own room dividers to break up rooms into multiple spaces.  You can request these when you request furniture for your game.
  </p>

  <h3 class="my-2"><a name='logistics-food'>Food</a></h3>
  <p>
    Intercon has contracted with the Crowne Plaza to provide concessions.  These have been reliably of good quality, better than at previous hotels, and Intercon has committed to a Food & Beverage minimum in order to get the contract with the hotel.  Please be aware that the hotel restaurant and room service will not count towards the fee.  Intercon negotates with the hotel to provide vegetarian and gluten-free options at the consessions.
  </p>

  <h3 class="my-2"><a name='logistics-floor-plan'>Hotel Floor Plan</a></h3>
  <p>
This is the map of the hotel provided by the hotel, along with the number of attendees that they would regularly use each space for.  We also have a <a href="{% page_url hotel/layout %}">nicer verson</a> available.
  </p>
  <p class='text-center'>
    <img class='img-fluid' src="{% file_url "crowne-plaza-hotel-map.png" %}" border="0">
  </p>

  <h2 class="my-3"><a name='rooms'>Function Rooms</a></h2>
  <h3 class="my-2"><a name='rooms-table'>Sizes and Locations</a></h3>
  <div class='alert alert-warning d-md-none mt-2'>
    Room Details and Category are hidden due to small screen size.  To view additional details, please use a larger screen.
  </div>
  <div class="table-responsive">
  <table class='table table-sm table-striped'>
    <thead>
      <tr>
        <th>Room</th>
        <th>FT<sup>2</sup></th>
        <th>Dimensions</th>
        <th>Height</th>
        <th>Floor</th>
        <th class='d-none d-md-table-cell'>Details</th>
        <th class='d-none d-md-table-cell'>Size Category</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><a href="#rooms-atrium">Atrium</a></td>
        <td>2800</td>
        <td></td>
        <td></td>
        <td>Ground</td>
        <td class='d-none d-md-table-cell'>Consuite/Boffers</td>
        <td class='d-none d-md-table-cell'>Large</td>
      </tr>
      <tr>
        <td><a href="#rooms-basement">Barrington</a></td>
        <td>960</td>
        <td>30' L x 32' W</td>
        <td>12'</td>
        <td>Lower</td>
        <td class='d-none d-md-table-cell'>Has Bar</td>
        <td class='d-none d-md-table-cell'>Medium</td>
      </tr>
      <tr>
        <td><a href="#rooms-bristol">Bristol A</a></td>
        <td>1188</td>
        <td>44' L x 27' W</td>
        <td>12'</td>
        <td>Ground</td>
        <td class='d-none d-md-table-cell'>Divided</td>
        <td class='d-none d-md-table-cell'>Medium</td>
      </tr>
      <tr>
        <td><a href="#rooms-bristol">Bristol B</a></td>
        <td>1188</td>
        <td>44' L x 27' W</td>
        <td>12'</td>
        <td>Ground</td>
        <td class='d-none d-md-table-cell'>Divided</td>
        <td class='d-none d-md-table-cell'>Medium</td>
      </tr>
      <tr>
        <td><a href="#rooms-basement">Greenwich</a></td>
        <td>960</td>
        <td>30' L x 32' W</td>
        <td>12'</td>
        <td>Lower</td>
        <td class='d-none d-md-table-cell'>Has Bar</td>
        <td class='d-none d-md-table-cell'>Medium</td>
      </tr>
      <tr>
        <td><a href="#rooms-basement">Kingston</a></td>
        <td>960</td>
        <td>30' L x 32' W</td>
        <td>12'</td>
        <td>Lower</td>
        <td class='d-none d-md-table-cell'>Has Bar</td>
        <td class='d-none d-md-table-cell'>Medium</td>
      </tr>
      <tr>
        <td><a href="#rooms-naragansett">Naragansett</a></td>
        <td>960</td>
        <td>40' L x 24' W</td>
        <td>14'</td>
        <td>Ground</td>
        <td class='d-none d-md-table-cell'>Divided</td>
        <td class='d-none d-md-table-cell'>Medium</td>
      </tr>
      <tr>
        <td><a href="#rooms-newport">Newport</a></td>
        <td>900</td>
        <td>30' L x 30' W</td>
        <td>12'</td>
        <td>Ground</td>
        <td class='d-none d-md-table-cell'></td>
        <td class='d-none d-md-table-cell'>Medium</td>
      </tr>
      <tr>
        <td><a href="#rooms-ocean">Ocean</a></td>
        <td>600</td>
        <td>40' L x 15' W</td>
        <td>14'</td>
        <td>Ground</td>
        <td class='d-none d-md-table-cell'>Divided</td>
        <td class='d-none d-md-table-cell'>Small</td>
      </tr>
      <tr>
        <td><a href="#rooms-patriots">Patriots</a></td>
        <td>960</td>
        <td>40' L x 24' W</td>
        <td>14'</td>
        <td>Ground</td>
        <td class='d-none d-md-table-cell'>Divided</td>
        <td class='d-none d-md-table-cell'>Medium</td>
      </tr>
      <tr>
        <td><a href="#rooms-plaza-foyer">Plaza Foyer</a></td>
        <td>1800</td>
        <td>100'L x 30'</td>
        <td>12'</td>
        <td>Ground</td>
        <td class='d-none d-md-table-cell'>Vendors/Services</td>
        <td class='d-none d-md-table-cell'>Large</td>
      </tr>
      <tr>
        <td><a href="#rooms-rhode-island">Rhode Island</a></td>
        <td>600</td>
        <td>40' L x 15' W</td>
        <td>14'</td>
        <td>Ground</td>
        <td class='d-none d-md-table-cell'>Divided</td>
        <td class='d-none d-md-table-cell'>Small</td>
      </tr>
      <tr>
        <td><a href="#rooms-rotunda">Rotunda</a></td>
        <td>3060</td>
        <td>84' X 22' + 115' cir</td>
        <td>16' (32')</td>
        <td>Ground</td>
        <td class='d-none d-md-table-cell'>Boffers/Consuite</td>
        <td class='d-none d-md-table-cell'>Large</td>
      </tr>
      <tr>
        <td><a href="#rooms-tiverton">Tiverton</a></td>
        <td>1209</td>
        <td>39' L x 31' W</td>
        <td>12'</td>
        <td>Ground</td>
        <td class='d-none d-md-table-cell'></td>
        <td class='d-none d-md-table-cell'>Large</td>
      </tr>
      <tr>
        <td><a href="#rooms-newport">Wickford</a></td>
        <td>900</td>
        <td>30' L x 30' W</td>
        <td>12'</td>
        <td>Ground</td>
        <td class='d-none d-md-table-cell'></td>
        <td class='d-none d-md-table-cell'>Medium</td>
      </tr>
      <tr>
        <td><a href="#rooms-parlors">Parlors A-D</a></td>
        <td></td>
        <td></td>
        <td></td>
        <td>6th</td>
        <td class='d-none d-md-table-cell'>Parlor</td>
        <td class='d-none d-md-table-cell'>Small</td>
      </tr>
      <tr>
        <td><a href="#rooms-boardrooms">Elms</a></td>
        <td>200</td>
        <td>20' L x 10' W</td>
        <td>10'</td>
        <td>3rd</td>
        <td class='d-none d-md-table-cell'>Board</td>
        <td class='d-none d-md-table-cell'>Small</td>
      </tr>
      <tr>
        <td><a href="#rooms-boardrooms">Wellington</a></td>
        <td>200</td>
        <td>20' L x 10' W</td>
        <td>10'</td>
        <td>6th</td>
        <td class='d-none d-md-table-cell'>Board</td>
        <td class='d-none d-md-table-cell'>Small</td>
      </tr>
     
      <tr>
        <td><a href="#logistics-hotel-rooms">Extra Rooms</a></td>
        <td>377</td>
        <td></td>
        <td>10'</td>
        <td>1st-6th</td>
        <td class='d-none d-md-table-cell'>Guest Room</td>
        <td class='d-none d-md-table-cell'>Small</td>
      </tr>
    </tbody>
  </table>
  </div>
  
  <p class='d-none d-md-block'>
    Notes:
<ul class='d-none d-md-block'>
  <li>A Small room can easily fit a larp with 5-15 players.</li>
  <li>A Medium room can fit a larp with 15-50 players, depending on the larp.</li>
  <li>A Large room can fit a conference-sized event, or a larp that requires a lot of movement.</li>
  <li>Boardrooms have 10 chairs around a large table.</li>
  <li>Parlors have seating for ~18 people, in various locations.</li>
  <li>Bar rooms have a bar in one corner, which can be used for GM staging space, or any other use.</li>
  <li>Divided rooms are parts of larger ballrooms, and have an air-wall dividing them from adjacent space.</li>
  <li>Guest rooms, rented by Intercon, are used as additonal larp spaces (typically next to Parlors), or for additional convention services space (i.e. Quiet Room)
</ul>
</p>

  <h3 class="my-2"><a name='rooms-atrium'>Atrium</a></h3>
  <p class='text-center'>
      <img class='img-fluid rounded' src="{% file_url "hotel-atrium.jpg" %}" border="0">
    </p>
  
  <h3 class="my-2"><a name='rooms-basement'>Barrington, Greenwich, Kingston</a></h3>
  <p>Greenwich is pictured</p>
  <p class='text-center'>
    <img class='img-fluid rounded' src="{% file_url "hotel-greenwich.jpg" %}" border="0">
  </p>

  <h3 class="my-2"><a name='rooms-bristol'>Bristol A & B</a></h3>
  <p>Bristol B is pictured</p>
  <p class='text-center'>
    <img class='img-fluid rounded' src="{% file_url "hotel-bristol-b.jpg" %}" border="0">
  </p>

  <h3 class="my-2"><a name='rooms-naragansett'>Naragansett</a></h3>
  <p>Patriots is pictured</p>
  <p class='text-center'>
    <img class='img-fluid rounded' src="{% file_url "hotel-patriots.jpg" %}" border="0">
  </p>

  <h3 class="my-2"><a name='rooms-newport'>Newport & Wickford</a></h3>
  <p>Newport is pictured</p>
  <p class='text-center'>
    <img class='img-fluid rounded' src="{% file_url "hotel-newport.jpg" %}" border="0">
  </p>

  <h3 class="my-2"><a name='rooms-ocean'>Ocean</a></h3>
  <p>Patriots is pictured, which is 9' wider, but the same length</p>
  <p class='text-center'>
    <img class='img-fluid rounded' src="{% file_url "hotel-patriots.jpg" %}" border="0">
  </p>

  <h3 class="my-2"><a name='rooms-patriots'>Patriots</a></h3>
  <p class='text-center'>
    <img class='img-fluid rounded' src="{% file_url "hotel-patriots.jpg" %}" border="0">
  </p>

  <h3 class="my-2"><a name='rooms-rhode-island'>Rhode Island</a></h3>
  <p>Patriots is pictured, which is 9' wider, but the same length</p>
  <p class='text-center'>
    <img class='img-fluid rounded' src="{% file_url "hotel-patriots.jpg" %}" border="0">
  </p>

  <h3 class="my-2"><a name='rooms-rotunda'>Rotunda</a></h3>
  <p class='text-center'>
    <img class='img-fluid rounded' src="{% file_url "hotel-rotunda.jpg" %}" border="0">
  </p>

  <h3 class="my-2"><a name='rooms-tiverton'>Tiverton</a></h3>
  <p class='text-center'>
    <img class='img-fluid rounded' src="{% file_url "hotel-tiverton.jpg" %}" border="0">
  </p>

  <h3 class="my-2"><a name='rooms-parlors'>Parlors A-D</a></h3>
  <p class='text-center'>
    <img class='img-fluid rounded' src="{% file_url "hotel-parlor.jpg" %}" border="0">
  </p>

  <h3 class="my-2"><a name='rooms-boardrooms'>Elms & Wellington</a></h3>
  <p class='text-center'>
    <img class='img-fluid rounded' src="{% file_url "hotel-boardroom.jpg" %}" border="0">
  </p>

  <h3 class="my-2"><a name='rooms-plaza-foyer'>Plaza Foyer</a></h3>
  <p class='text-center'>
    <img class='img-fluid rounded' src="{% file_url "hotel-plaza-foyer.jpg" %}" border="0">
  </p>
  <h3 class="my-2"><a name='rooms-guest-room'>Intercon-Provided Guest Rooms</a></h3>
<p>
  These are guest rooms, attached to the Parlors, which may be used for small games or for overflow/additional space for the games in parlors.
</p>
  <div class='row'>
    <div class='col'>
  <p class='text-center'>
    <img class='img-fluid rounded' src="{% file_url "hotel-guest-room.jpg" %}" border="0">
    King Room (most likely to be used for larp)
  </p>
    </div>
    <div class='col'>
       <p class='text-center'>
    <img class='img-fluid rounded' src="{% file_url "hotel-guest-room-queen.jpg" %}" border="0">
         Two Queen Room (less likely to be used for larp)
  </p>
    </div>
  </div>



