---
name: Hotel Layout
admin_notes: ''
skip_clickwrap_agreement: false
hidden_from_search: false
---
<h1 class="my-3">Crowne Plaza Providence-Warwick</h1>
<div class="row justify-content-center">
    <div class="col-12 text-center">
<img src="{% file_url "InterconV_CrownePlaza_map.png" %}" class="img-fluid" border="0">
</div>
</div>