---
name: Hotel Menu
skip_clickwrap_agreement: false
hidden_from_search: false
---
<p><a href="{% file_url "Crowne_Plaza_Menu_2024.pdf" %}" class="btn btn-secondary">Download PDF</a></p>
<iframe src="{% file_url "Crowne_Plaza_Menu_2024.pdf" %}" style="width: 100%; height: 80vh; border: 1px solid #eee;"></iframe>
