@use "sass:color";

.run-capacity {
  border: $card-border-width solid $card-border-color;
  padding-left: 2px;
  padding-right: 2px;
}

.bucket-capacity {
  text-align: left;
  font-size: $progress-font-size;
  padding-top: 3px;
  padding-left: 2px;
  padding-bottom: 5px;
  position: relative;

  // border-bottom: $card-border-width solid $card-border-color;

  &:last-child {
    border-bottom: none;
  }
}

$bucket-availability-font-size: $progress-font-size * 1.4;
$bucket-availability-compact-font-size: $progress-font-size * 0.8;

.bucket-availability-display {
  font-size: $bucket-availability-font-size;
  display: flex;
  flex-wrap: wrap;

  &.bucket-availability-display-compact {
    font-size: $bucket-availability-compact-font-size;
  }
}

.bucket-availability-cell {
  width: $bucket-availability-font-size;
  margin-left: 1px;
  margin-right: 1px;
  text-align: center;

  .bucket-availability-display-compact & {
    width: $bucket-availability-compact-font-size;
  }
}

.bucket-availability-open-slot {
  clip-path: ellipse(($bucket-availability-font-size * 0.44) ($bucket-availability-font-size * 0.2) at center);

  .bucket-availability-display-compact & {
    clip-path: ellipse(
      ($bucket-availability-compact-font-size * 0.44) ($bucket-availability-compact-font-size * 0.2) at center
    );
  }
}

.bucket-capacity-bars {
  position: absolute;
  left: 0;
  width: 100%;
  bottom: 4px;
  display: flex;
}

.bucket-capacity-bar {
  position: relative;
  height: 3px;
}

.bucket-capacity-tickmark {
  position: absolute;
  width: 2px;
  height: 100%;

  &.bucket-capacity-tickmark-thin {
    width: 1px;
  }
}

$bucket-color-1: color.adjust($orange, $lightness: -5%);
$bucket-color-2: $green;
$bucket-color-3: $purple;
$bucket-color-4: $blue;
$bucket-color-5: $red;
$bucket-color-6: $teal;
$bucket-color-7: $indigo;
$bucket-color-8: $cyan;
$bucket-color-9: $pink;
$bucket-color-full: $gray-500;

$bucket-colors: () !default;
$bucket-colors: map-merge(
  (
    'bucket-color-1': $bucket-color-1,
    'bucket-color-2': $bucket-color-2,
    'bucket-color-3': $bucket-color-3,
    'bucket-color-4': $bucket-color-4,
    'bucket-color-5': $bucket-color-5,
    'bucket-color-6': $bucket-color-6,
    'bucket-color-7': $bucket-color-7,
    'bucket-color-8': $bucket-color-8,
    'bucket-color-9': $bucket-color-9,
    'bucket-color-full': $bucket-color-full,
  ),
  $bucket-colors
);

@each $color, $value in $bucket-colors {
  .text-#{$color} {
    color: $value;
  }

  .bg-#{$color} {
    background-color: $value;
  }

  .btn-#{$color} {
    @include button-variant($value, $value);
  }

  .btn-outline-#{$color} {
    @include button-outline-variant($value);
  }
}
