// mostly copied/modified from .cm-s-intercode that ships with codemirror

.bg-disabled {
  background-color: $input-disabled-bg;
}

.cm-s-intercode.CodeMirror {
  font-size: $code-font-size * 0.9;
	font-family: $font-family-monospace;
  line-height: auto;
  background: transparent;

  .cm-header {color: $blue;}
  .cm-quote {color: $green;}

  .cm-keyword {color: $purple;}
  .cm-atom {color: $indigo;}
  .cm-number {color: $teal;}
  .cm-def {color: $blue;}
  .cm-variable,
  .cm-punctuation,
  .cm-property,
  .cm-operator {}
  .cm-variable-2 {color: $indigo;}
  .cm-variable-3, .cm-type {color: $cyan;}
  .cm-comment {color: $pink;}
  .cm-string {color: $orange;}
  .cm-string-2 {color: $orange;}
  .cm-meta {color: $gray-500;}
  .cm-qualifier {color: $gray-600; font-style: italic;}
  .cm-builtin {color: $indigo;}
  .cm-bracket {color: $yellow;}
  .cm-tag {color: $green;}
  .cm-attribute {color: $cyan;}
  .cm-hr {color: $gray-700;}
  .cm-link {color: $blue;}

  .cm-error {color: $red;}

  .cm-liquid { background-color: $gray-200; }
}

