$success-light: lighten($success, 35%);
$warning-light: lighten($warning, 35%);
$danger-light: lighten($danger, 35%);

$color-variants: () !default;
$color-variants: map-merge((
  "success-light": $success-light,
  "warning-light": $warning-light,
  "danger-light": $danger-light,
), $color-variants);

@each $color, $value in $color-variants {
  .bg-#{$color} {
    background-color: $value;
  }
}

@each $color, $value in $theme-colors {
  .text-hover-#{$color}:hover {
    color: $value !important;
  }
}
