.rate-event-control {
  text-align: center;
  overflow: hidden;
  transition: width 0.5s ease-out;
}

.event-rating-icon {
  display: inline-block;
  width: $font-size-base * 3;
  height: $font-size-base * 3;
  padding-top: $font-size-base * 0.75;
}
