.form-editor {
  display: grid;
  height: 100vh;

  grid-template-rows: min-content min-content min-content min-content minmax(0, 1fr) min-content;
  grid-template-columns: 1fr;
  grid-template-areas:
      "navbar"
      "side"
      "preview"
      "error"
      "content"
      "toolbar";

  @include media-breakpoint-up(lg) {
    grid-template-rows: min-content min-content min-content minmax(0, 1fr) min-content;
    grid-template-columns: 300px 1fr;
    grid-template-areas:
      "navbar navbar"
      "side   preview"
      "side   error"
      "side   content"
      "side   toolbar";
  }
}

.form-editor-top-navbar {
  grid-area: navbar;
}

.form-section-editor-content {
  grid-area: content;
}

.form-section-editor-add-item-bar {
  grid-area: toolbar;
}

.form-item-editor-tools, .form-section-editor-nav {
  grid-area: side;
}

.form-item-editor-preview {
  display: grid;
  grid-template-rows: min-content minmax(0, 1fr);
  max-height: 40vh;
  grid-area: preview;
}

.form-item-editor-error {
  grid-area: error;
}

.form-item-editor-content {
  grid-area: content;
}

.form-editor-item {
  position: relative;
  min-height: 1.5rem;
}

.form-editor-item-overlay {
  opacity: 0.0;
  position: absolute;
  cursor: pointer;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-shadow: 0 0 5px black;
  text-decoration: none;

  &:hover {
    opacity: 1.0;
    color: white;
    text-decoration: none;
  }
}

.form-editor-item-identifier {
  background-color: map-get($map: $theme-colors, $key: 'info');
  border-radius: 0.3rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  text-shadow: none;
}

.form-item-editor {
  background-color: map-get($map: $theme-colors, $key: 'warning');
  border-radius: 0.5rem;
  padding: 0.5rem;
}
