.form-editor {
  display: grid;
  grid-template-rows: min-content min-content min-content minmax(0, 1fr) min-content;
  grid-template-columns: 300px 1fr;
  height: 100vh;
}

.form-editor-top-navbar {
  grid-column: span 2;
}

.form-section-editor-content {
  grid-row: span 3;
}

// .form-section-editor-add-item-bar {
// }

.form-item-editor-tools, .form-section-editor-nav {
  grid-row: span 4;
}

.form-item-editor-preview {
  display: grid;
  grid-template-rows: min-content minmax(0, 1fr);
  max-height: 40vh;
}

// .form-item-editor-error {
// }

.form-item-editor-content {
  grid-row: span 2;
}

.form-editor-item {
  position: relative;
}

.form-editor-item-overlay {
  opacity: 0.0;
  position: absolute;
  cursor: pointer;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-shadow: 0 0 5px black;
  text-decoration: none;

  &:hover {
    opacity: 1.0;
    color: white;
    text-decoration: none;
  }
}

.form-editor-item-identifier {
  background-color: map-get($map: $theme-colors, $key: 'info');
  border-radius: 0.3rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  text-shadow: none;
}

.form-item-editor {
  background-color: map-get($map: $theme-colors, $key: 'warning');
  border-radius: 0.5rem;
  padding: 0.5rem;
}
