.page-admin-dropdown {
  margin-bottom: 4px;
  float: right;

  @media (min-width: breakpoint-min(lg, $grid-breakpoints) + 65px) and (max-width: breakpoint-max(lg, $grid-breakpoints)) {
    position: absolute;
    margin-left: map-get($container-max-widths, lg) - ($grid-gutter-width / 2);
    float: none;
  }

  @media (min-width: breakpoint-min(xl, $grid-breakpoints) + 65px) {
    position: absolute;
    margin-left: map-get($container-max-widths, xl) - ($grid-gutter-width / 2);
    float: none;
  }
}
