@use "sass:color";
@use "sass:map";

$schedule-grid-background: map.get(
  $map: $theme-colors,
  $key: 'light',
);
$schedule-grid-event-border-radius: 14px;
$signed-up-event-background-color: rgba(0, 0, 0, 0.4);

.schedule-grid-navigation-bar {
  position: sticky;
  z-index: 1020;
  background-color: white;
  border-bottom: 1px $nav-tabs-border-color solid;
  padding-top: 1rem;
}

.schedule-list-day-header {
  position: sticky;
  background-color: white;
  z-index: 1010;
  padding-top: 0.5rem;
}

.schedule-grid {
  border-width: 1px;
  border-top-width: 0;
  border-style: solid;
  border-color: $nav-tabs-border-color;
  background-color: $schedule-grid-background;
  min-height: 450px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.schedule-grid-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-width: min-content;
  min-height: 300px;
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.1) 1%, transparent 2%, transparent);
}

.schedule-grid-block {
  border-top: 2px rgba(0, 0, 0, 0.1) solid;
  padding-top: 2px;
  padding-bottom: 2px;
}

.schedule-grid-event {
  // default colors, overrideable by event categories
  background-color: color.adjust(map.get($theme-colors, 'info'), $lightness: 50%);
  border: 1px map.get($theme-colors, 'info') solid;
  border-radius: $schedule-grid-event-border-radius;
  overflow: hidden;
  display: flex;

  &.full {
    border-width: 0;
    color: color.adjust(black, $alpha: -0.3);
  }

  &.signed-up {
    background-color: map.get($theme-colors, 'info');
    border-color: map.get($theme-colors, 'info');
    color: white;
  }

  &.unlimited,
  &.zero-capacity,
  &.fake {
    border-radius: 0;
  }

  &.truncated-start {
    border-left-width: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    mask-image: linear-gradient(to right, transparent 0%, black 7px, black 100%);
  }

  &.truncated-finish {
    border-right-width: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    mask-image: linear-gradient(to left, transparent 0%, black 7px, black 100%);
  }

  &.truncated-start.truncated-finish {
    border-left-width: 0;
    border-right-width: 0;
    mask-image: linear-gradient(to right, transparent 0%, black 7px, black calc(100% - 7px), transparent 100%);
  }
}

.schedule-grid-event-content {
  overflow: hidden;
  position: relative;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  min-width: 0;
}

.schedule-grid-event-content-main {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  min-width: 0;
  padding: $spacer * 0.25;
  padding-left: $spacer * 0.5;
  flex-grow: 1;
}

.schedule-grid-event-truncation-label {
  padding-left: $spacer * 0.5;
  padding-right: $spacer * 0.75;
  background-color: rgba(255, 255, 255, 0.2);
  display: flex;
  align-items: center;
  overflow: hidden;
  text-overflow: clip;
  white-space: nowrap;
}

.schedule-grid-row-header {
  position: sticky;
  left: 0;
  z-index: 10;
  padding-right: 2px;
  border-top: 2px rgba(0, 0, 0, 0.1) solid;
  background-color: rgba(255, 255, 255, 0.9);
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.schedule-grid-row-header-label {
  min-width: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.event-fullness-unlimited .availability-bar .unavailable {
  background-color: color.adjust(map.get($theme-colors, 'info'), $lightness: 50%);
}

.event-fullness-below-minimum .availability-bar .unavailable {
  background-color: color.adjust(map.get($theme-colors, 'danger'), $lightness: 20%);
}

.event-fullness-minimum .availability-bar .unavailable {
  background-color: color.adjust(map.get($theme-colors, 'warning'), $lightness: 20%);
}

.event-fullness-preferred .availability-bar .unavailable {
  background-color: color.adjust(map.get($theme-colors, 'success'), $lightness: 20%);
}

.event-fullness-full .availability-bar .unavailable {
  background-color: color.adjust(map.get($theme-colors, 'primary'), $lightness: 20%);

  &.full {
    opacity: 1;
  }
}

.event-fullness-no-slots {
  background-color: $gray-300;
}

.event-extended-counts {
  background-color: rgba(255, 255, 255, 0.6);
  border-right: 1px rgba(0, 0, 0, 0.6) solid;
  z-index: -1;
}

.availability-bar {
  background-color: transparent;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: -2;

  .available {
    background-color: $schedule-grid-background;
    border-radius: $schedule-grid-event-border-radius;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    .full & {
      background-color: white;
    }

    .signed-up & {
      background-color: rgba(0, 0, 0, 0.6);
    }
  }

  .unavailable {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    border-top-right-radius: $schedule-grid-event-border-radius;
    border-bottom-right-radius: $schedule-grid-event-border-radius;
  }

  &.unlimited {
    border-radius: 0;

    .unavailable {
      background: linear-gradient(to right, rgba(255, 255, 255, 0), $schedule-grid-background);
      border-radius: 0;

      .signed-up & {
        background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
      }
    }
  }
}

.schedule-grid-run-details-popover {
  max-width: 400px;
}

.schedule-grid-run-details-content {
  max-height: 300px;
  display: flex;
  flex-direction: column;
}

.schedule-grid-run-details-title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
