.search-input-control {
  border-top-left-radius: $rounded-pill;
  border-bottom-left-radius: $rounded-pill;
  border-right: 0;
}

.search-input-addon .input-group-text {
  border-top-right-radius: $rounded-pill;
  border-bottom-right-radius: $rounded-pill;
  background-color: white;
  border-left: 0;
}
