.table-hover-cell {
  tbody td {
    &:hover {
      color: var(--#{$variable-prefix}table-hover-color);
      background-color: var(--#{$variable-prefix}table-hover-bg);
    }
  }
}

.react-table {
  // fake table styling for react-table stuff, copied from Bootstrap's _tables.scss

  overflow-x: auto;

  .tbody {
    vertical-align: inherit;
  }

  .thead {
    vertical-align: bottom;
  }

  // Highlight border color between thead, tbody and tfoot.
  // > :not(:last-child) > :last-child > * {
  //   border-bottom-color: $table-group-separator-color;
  // }

  // [role=columnheader],
  // [role=cell] {
  //   padding: $table-cell-padding-y $table-cell-padding-x;
  //   vertical-align: top;
  //   border-top: $table-border-width solid $table-border-color;
  // }

  // [role=columnheader] {
  //   vertical-align: bottom;
  //   border-bottom: (2 * $table-border-width) solid $table-border-color;
  // }

  // [role=rowgroup] + [role=rowgroup] {
  //   border-top: (2 * $table-border-width) solid $table-border-color;
  // }

  &.table-bordered {
    border: $table-border-width solid $table-border-color;

    [role='columnheader'],
    [role='cell'] {
      border: $table-border-width solid $table-border-color;
    }

    .thead {
      [role='columnheader'],
      [role='cell'] {
        border-bottom-width: calc(2 * $table-border-width);
      }
    }
  }

  &.table-borderless {
    [role='columnheader'],
    [role='cell'],
    .thead [role='columnheader'],
    [role='rowgroup'] + [role='rowgroup'] {
      border: 0;
    }
  }

  &.table-striped {
    [role='rowgroup'] [role='row']:nth-of-type(#{$table-striped-order}) {
      --#{$variable-prefix}table-accent-bg: var(--#{$variable-prefix}table-striped-bg);
      color: var(--#{$variable-prefix}table-striped-color);
    }
  }

  &.table-hover {
    [role='rowgroup'] [role='row'] {
      &:hover {
        --#{$variable-prefix}table-accent-bg: var(--#{$variable-prefix}table-hover-bg);
        color: var(--#{$variable-prefix}table-hover-color);
        background-color: var(--#{$variable-prefix}table-hover-bg);
      }
    }
  }

  .resizer {
    display: inline-block;
    background: $table-border-color;
    width: $table-border-width;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
    /* prevents from scrolling while dragging on touch devices */
    touch-action: none;
    opacity: 50%;
    &:hover,
    &.isResizing {
      opacity: 100%;
    }
  }
}
