form.new_user, form.edit_user {
	table {
		th {
			font-weight: normal;
			text-align: right;
			min-width: 150px;
		}
		
		th, td {
			vertical-align: top;
		}
		
		tr.divider {
			height: 12pt;
		}
	}
}