@import './bootstrap_custom';
@import './buckets';
@import './event_list';
@import './event_ratings';
@import './form_editor';
@import './glow';
@import './print';
@import './spin';
@import './signups';
@import './tables';
@import './toast';

@import 'bootstrap-icons/font/bootstrap-icons.css';

.form-item-label p:last-child,
legend p:last-child {
  margin-bottom: 0;
}

.progress-bar {
  transition: width 1s;
}

.anything-bucket {
  background-color: #8fb6db;
}

table.no-top-border thead th {
  border-top: 0;
}

.hidden-button {
  background: transparent;
  border: none;
  cursor: pointer;
}

.intercode-code-input {
  .CodeMirror {
    height: auto !important;
  }

  .CodeMirror-scroll {
    max-height: 80vh;
    min-height: 10rem;
  }
}

.markdown-preview {
  min-height: 10rem;
}

.cursor-auto {
  cursor: auto !important;
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-grab {
  cursor: grab;
}

.cursor-wait {
  cursor: wait;
}

.opacity-50 {
  opacity: 0.5;
}

@for $i from 1 to 20 {
  .codemirror-height-#{$i} {
    height: auto;

    .form-control {
      height: auto;
    }

    .markdown-preview,
    .CodeMirror-scroll {
      min-height: #{$i}rem !important;
    }
  }
}

.custom-loading-indicator {
  position: absolute;
  left: 50%;
  color: #aaa;
  margin-left: -15vh;
  transition: all 250ms ease-in-out;
  z-index: 5000;

  .spinner-border {
    width: 30vh;
    height: 30vh;
    border-width: 3vh;
  }
}

.run-card {
  min-width: 250px;
  max-width: 340px;
  margin-left: auto;
  margin-right: auto;
}

.run-card-deck {
  display: grid;
  justify-content: center;
  grid-gap: 0.5rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.cms-file-card-deck {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.navbar-convention-canceled-notice {
  background-color: #f41;
  color: white;

  // defeat the default navbar padding
  margin-left: -16px;
  margin-right: -16px;
}
