@import "./bootstrap_custom";
@import "./buckets";
@import "./codemirror_theme";
@import "./print";
@import "./schedule_grid";

$fa-font-path: '~font-awesome/fonts';
@import "~font-awesome/scss/font-awesome";

.form-item-label p:last-child, legend p:last-child {
  margin-bottom: 0;
}

.progress-bar {
  transition: width 1s;
}

.anything-bucket {
  background-color: #8fb6db;
}

table.no-top-border thead th {
  border-top: 0;
}

.hidden-button {
  background: transparent;
  border: none;
  cursor: pointer;
}

.CodeMirror {
  height: auto;
}

.CodeMirror-scroll {
  max-height: 80vh;
  min-height: 10rem;

  .cms-editor & {
    min-height: 20rem;
  }
}
