@import "./bootstrap_custom";
@import "./buckets";
@import "./codemirror_theme";
@import "./color_variants";
@import "./event_list";
@import "./event_ratings";
@import "./form_editor";
@import "./glow";
@import "./liquid_docs";
@import "./page_admin_dropdown";
@import "./print";
@import "./schedule_grid";
@import "./search";
@import "./signups";
@import "./spoiler";
@import "./tables";

$fa-font-path: '~font-awesome/fonts';
@import "~font-awesome/scss/font-awesome";

.form-item-label p:last-child, legend p:last-child {
  margin-bottom: 0;
}

.progress-bar {
  transition: width 1s;
}

.anything-bucket {
  background-color: #8fb6db;
}

table.no-top-border thead th {
  border-top: 0;
}

.hidden-button {
  background: transparent;
  border: none;
  cursor: pointer;
}

.CodeMirror {
  height: auto !important;
}

.CodeMirror-scroll {
  max-height: 80vh;
  min-height: 10rem;

  .cms-editor & {
    min-height: 20rem;
  }
}

.markdown-preview {
  min-height: 10rem;
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-grab {
  cursor: grab;
}

.opacity-50 {
  opacity: 0.5;
}

@for $i from 1 to 20 {
  .codemirror-height-#{$i} {
    height: auto;

    .form-control {
      height: auto;
    }

    .markdown-preview, .CodeMirror-scroll {
      min-height: #{$i}rem !important;
    }
  }
}

.custom-loading-indicator {
  position: absolute;
  left: 50%;
  font-size: 30vh;
  color: #aaa;
  margin-left: -19vh;
  transition: all 250ms ease-in-out;
}

.run-card {
  min-width: 250px;
  max-width: 340px;
  margin-left: auto;
  margin-right: auto;
}

.run-card-deck {
  display: grid;
  justify-content: center;
  grid-gap: 0.5rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
