@import "./bootstrap_defs";

.site-search {
  height: 38px;
}

@keyframes site-search-fade-and-expand {
  0% {
    opacity: 0;
    flex: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    flex: 1;
  }
}
.site-search {
  opacity: 0;
  flex: 0;

  &:global(.entering) {
    animation-name: site-search-fade-and-expand;
    animation-duration: 400ms;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
  }
  &:global(.entered) {
    opacity: 1;
    flex: 1;
  }
  &:global(.exiting) {
    animation-name: site-search-fade-and-expand;
    animation-duration: 400ms;
    animation-direction: reverse;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
  }
}

@keyframes site-search-navigation-button-fade {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.site-search-navigation-button {
  position: absolute;
  right: 10px;
  top: -3px;
  opacity: 1;

  @include media-breakpoint-up(md) {
    right: 2px;
  }

  &:global(.entering), &:global(.exiting) {
    animation-name: site-search-navigation-button-fade;
    animation-duration: 400ms;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
  }
  &:global(.exiting) {
    animation-direction: reverse;
  }
  &:global(.exited) {
    opacity: 0;
    pointer-events: none;
  }
}
