---
name: Accessibility for GMs
skip_clickwrap_agreement: false
hidden_from_search: false
---
<h1 class='my-3'>Intercon GM Accessibility Guide</h1>

<div class="row">
  <div class="col-md-3">
    <ul class="section-nav sticky-top" style="top:72px">
      <li class="toc-entry menu-header" style='display:none'>
        <h4>GM Accessibility Guide</h4>
      </li>
      <li class="toc-entry"><a href="#introduction">Introduction</a>
      <li class="toc-entry"><a href="#tips">Tips for Accessability</a>
        <ul>
        <li class="toc-entry"><a href="#tips-physical">Physical Exertion</a></li>
        <li class="toc-entry"><a href="#tips-common">Common Needs</a></li>
		<li class="toc-entry"><a href="#tips-advance">In Advance</a></li>
        <li class="toc-entry"><a href="#tips-reading">Expected Reading</a></li>
        <li class="toc-entry"><a href="#tips-seating">Seating</a></li>
        <li class="toc-entry"><a href="#tips-safety">Safety Mechanics</a></li>
        <li class="toc-entry"><a href="#tips-lighting">Dim Lighting</a></li>
        <li class="toc-entry"><a href="#tips-costuming">Costuming</a></li>
        <li class="toc-entry"><a href="#tips-color">Color-coding</a></li>
        <li class="toc-entry"><a href="#tips-effects">Special Effects</a></li>
      </ul></li>
      <li class="toc-entry"><a href="#other">Other Items</a></li>
      <li class="toc-entry"><a href="#resources">Other Resources</a></li>
</ul>
</div>
<div class='col'>

<h2 class="my-3"><a name='introduction'>Introduction</a></h2>
<p class='lead'>If you’re reading this, then you are thinking of or have signed up to run a LARP at Intercon. Thank you for doing that because Intercon would not be possible without your efforts! The purpose of this document is to provide you with some ideas regarding the topic of accessibility. This document was written by members of Intercon’s Accessibility Team, which includes LARPers with varying disabilities and health conditions.</p>

<p>In order for Intercon to be welcoming to the widest possible range of players, GMs are strongly encouraged to incorporate accessibility considerations into their game planning, recruitment, and player communications. Accessibility, in this context, means providing for the needs of players of all levels of ability. This might seem like a lofty or even daunting goal, but in most cases, accommodating a particular physical, emotional, or sensory need is possible with relatively minor adjustments to your game. If accommodating a particular player is not possible, then communicating openly and honestly about that is the best thing to do. This way, expectations are set and that player can find another game that will work for them.</p>
<hr>
<h2 class="my-3"><a name='tips'>Tips for Accessability</a></h2>
<p>Below are some generalized tips for making your LARP more accessible. Remember that improving accessibility is an ongoing process. The Intercon Accessibility Team asks for effort and open-mindedness, not perfection.</p>

<ul>
<li><a name='tips-physical'><strong>Physical exertion:</strong></a> All games require different levels of physical exertion. Be as clear as you can about expectations of physical activities in your game description. Furthermore, consider if any of them can be made opt-in, or if only part of the cast needs to do them—in which case, you can ask on your survey who does and doesn’t want to participate in the physical activity.</li></p>

<li><a name='tips-common'><strong>Common and/or straightforward accessibility needs:</strong></a> This is a list of common accessibility needs. You may want to think of how they might affect players in your game, be transparent in your content advisory, proactively plan to accommodate them, etc.
  <ul type=a class="mb-2">
  <li>Sensitivity to loud noises, crowding, smells, or other sensory inputs.</li>
  <li>Difficulty hearing (similar sounding character names, loud spaces, etc).</li>
  <li>Difficulty walking and/or standing for periods (which could be as little as a couple minutes).</li>
  <li>Difficulty sitting/being on the floor, or rapidly shifting between floor and standing.</li>
  <li>Difficulty running, jumping, bending over, or other ways one might move around quickly.</li>
  <li>Use of a mobility device such as a cane, walker, or wheelchair.</li>
  <li>Limited vision (particularly in dim light).</li>
  <li>Difficulty reading lengthy texts quickly.</li>
  <li>Colorblindness.</li>
  <li>Difficulty with eye contact.</li>
  <li>Touch-sensitivity (whether with anyone or just unfamiliar people).</li>
  <li>A need for rest breaks from game.</li>
  </ul>
</li>

<li><a name='tips-advance'><strong>In Advance:</strong></a> Ask about your players’ needs. The best way to open that line of communication in most cases is via the casting survey, with an invitation to players to follow up by email, chat, or voice. For example a GM might write, “This game includes a scene of 5-10 minutes set in complete darkness. If this is going to be problematic, we can instead simply have dim lighting during this scene.” Then, your survey can have radio buttons indicating: (Y) I’m okay with the scene as-is OR (N) I need dim lighting rather than complete darkness OR (O) Other - with a space to input a player's own response.</p>

<p>Many GMs have an open question at the end of their surveys, which will often be something like, “Is there anything else you want the GMs to know in casting you?” However, you will get the best responses if you make it clear that you are inviting players to speak up about their accessibility needs. Disabled people are used to having our needs and concerns ignored or downplayed by the abled world, especially if we haven’t been specifically invited to share them. A better phrasing might be, “Players have a diverse range of needs and preferences. Please tell us anything else we can do to make playing this game a comfortable and welcoming experience for you.”</p>

<p>If your game does not utilize a casting survey, but still has players sign up to play well ahead of the con, then simply emailing them to discuss the game’s requirements can facilitate the necessary conversations. On the other hand, if you are adding multiple players at the last minute—a possibility even for games that do try to cast ahead of time—then thinking about accessibility ahead of time is still the best way to make people feel welcome.</p></li>

<li><a name='tips-reading'><strong>Expected Reading:</strong></a> You should communicate the expected amount of required reading. Make sure to distinguish between what is sent ahead of the game as opposed to during the game.</p>

<p>Of the material sent out ahead of a game, typically players will only expect to fully memorize around a third of a page: their own name and culture, a few important facts or background events, and the names of a few other characters. The rest of it they will usually read and internalize the gist of, but not necessarily the details. Players will often want to be able to consult their materials after the game begins, either in print or via smartphone.
If someone requests it, and it is feasible for you and/or your team, you may wish to consider offering texts in another format, such as pre-recorded audio or large-print text.</p></li>

<li><a name='tips-seating'><strong>Seating:</strong></a> Offer places to sit! Often the default mode for non-combat LARPs is “people standing around and talking,” but this does not work well for many people with a variety of impairments. If meaningful in-game interaction can be had while standing, chances are very good that those same interactions can happen with some or all of the participants sitting down. Be sure to request an appropriate amount of chairs, once the Intercon GM Coordinator sends you the furniture request form.</p></li>

<li><a name='tips-safety'><strong>Safety Mechanics:</strong></a> You may want to have safety mechanics like Look Down (hand shading eyes to indicate they are OOG) and The Door is Always Open (players can leave at any time for any reason) to give players explicit permission to address their own needs.</p></li>

<li><a name='tips-lighting'><strong>Dim Lighting:</strong></a> Dim light and small fonts (or really any reading at all) is a bad combination! Even for people without particularly limited eyesight, this is often a problem in LARPs. Dim lighting is important for the atmosphere in many cases, but should be forecasted and you should consider accommodations for limited eyesite. Consider small inexpensive handheld flashlights, for reading text.</p>

<p>When formatting text to be read in dim light, consider making use of larger fonts, and bolding important words, especially character names.</p></li>

<li><a name='tips-costuming'><strong>Costuming Expectations:</strong> Be clear to your players on what your costuming expectations are for your game. For GMs new to Intercon, it’s important to note that some players may not costume for games as people don’t have access to the same resources, clothing for all types of bodies is not equally available, or the energy to commit to costuming. You can potentially help by organizing costume borrowing for your game and/or having a few pieces readily available to players at the start of the game.</p></li>

<li><a name='tips-color'><strong>Color-coding:</strong> If puzzle elements or faction costuming is color coded, it can help to include symbols that distinguish those things for players who have difficulty distinguishing particular colors. Also, consider using an accessible color palette.</p></li>

<li><a name='tips-effects'><strong>Special Effects:</strong> You must clearly mention any strobing light effects. We discourage strong or lingering scents at Intercon games, due to concerns of potential sensitivities or allergies, as well as consideration for the people who will be in the space after you.</p></li>
</ul>
<hr>
<h2 class="my-3"><a name='other'>Other Items</a></h2>
<p>There’s no way to put together a comprehensive list of all possible accessibility-related needs you may encounter as an Intercon GM! If you have questions or concerns, please reach out to the {{convention.staff_positions_by_name.accessibility_coordinator.name_with_email_link}}. This also applies if you yourself as a GM have access needs that you would like help figuring out. We will be happy to answer any questions and work with you on any accessibility needs.</p>

<p>One final piece of advice: solicit feedback! No matter how much you plan ahead, finding out how things actually went during the game is important. Maintaining an attitude of openness to improvement (in general and in terms of accessibility specifically) will go a long way towards helping players feel safe and included in games that you run.</p>
<hr>  
<h2 class="my-3"><a name='resources'>Other Resources From Around the Web</a></h2>
<p>Several of the sources below were consulted in the course of writing and revising this document, so they may contain information that is redundant with the tips offered here. We provide the links in the spirit of academic honesty, as well as for those who may wish to read other perspectives or dig deeper on this topic.</p>

<ul class='list-unstyled'>
<li><a href="https://accesslarp.wordpress.com/">Access: LARP</a></li>
<li><a href="https://venngage.com/tools/accessible-color-palette-generator">Accessible Color Palettes</a></li>
<li><a href="https://calliopegames.com/9699/accomodations-for-color-blind-players/">Making Board Games Accessible to Players With Color-Blindness</a></li>
<li><a href="https://guardup.com/how-to-make-a-larp-accessible/">How to Make a LARP Accessible</a></li>
<li><a href="https://pseudodeviant.wordpress.com/2016/08/18/making-larp-more-acessible/">Making LARP More Accessible</a></li>
</ul>
</div>
</div>