<% if can? :edit, @page -%>
  <ul id="admin_menu" class="menu priv">
    <li class="title">Page admin</li>
    <li>
      <%= link_to "Edit page", edit_page_path(@page) -%>
    </li>
    <% if can?(:delete, @page) && @page.parent.root_page_id != @page.id -%>
      <li>
        <%= link_to "Delete page", page_path(@page), :method => :delete, 
          :confirm => "Are you sure you want to delete this page?" %>
      </li>
    <% end -%>
  </ul>
<% end -%>
<%= cadmus_renderer.render(@page.liquid_template, :html) %>