%h1 Event updated

%p
  "#{@event.title}" has been updated.  To view the event, go
  #{link_to 'here', event_url_for_convention(@event)}.

%hr

%h2 Change log

- timezone = @event.convention.timezone
- form_items = @event.convention.form_for_event_category(@event.category).form_items.index_by(&:identifier)

= render partial: 'form_response_changes/table', locals: { timezone: timezone, form_items: form_items, changes: @changes }
