= react_component 'SignupAdmin', authenticityToken: graphql_authenticity_token, eventId: @event.id,
  runId: @run.id, exportSignupsUrl: event_run_export_admin_signups_path(@run),
  basename: event_run_admin_signups_path(@event, @run), teamMembersUrl: event_team_members_path(@event)
