= app_component 'SignupAdmin', eventId: @event.id,
  runId: @run.id,
  eventUrl: event_path(@event),
  exportSignupsUrl: event_run_export_admin_signups_path(@event, @run, format: 'csv'),
  basename: event_run_admin_signups_path(@event, @run),
  teamMembersUrl: event_team_members_path(@event)
