---
name: Hotel Layout
admin_notes: ''
---
<h1 class="my-3">Crowne Plaza Providence-Warwick</h1>
<div class="row justify-content-center">
    <div class="col-12 text-center">
<img src="{% file_url "CrownePlazaFloorplan.jpg" %}" border="0">
</div>
</div>