---
name: New Proposal
admin_notes: ''
invariant: false
---
{% assign proposal_chair = convention.staff_positions_by_name.game_proposals_chair %}

<div class="row">
  <div class="col-md-7">
    <h1>Propose an Event for {{ convention.name }}</h1>
    <p>Intercon is looking for a diverse selection of larps, in as many different styles and genres as we can find! But we're not just looking for established authors &mdash; we also encourage authors who are new to Intercon or new to larp writing. Whether it's a new game or one that's been run before, we're interested in what you have to propose.</p>

    <p>We're also looking for a varied and interesting set of content for <a href="{% page_url forum %}">Forum@Intercon</a>, our track of discussions, presentations, panels, and workshops.</p>

    {% if convention.accepting_proposals %}
      <div class="d-flex flex-wrap justify-content-center my-4">
        {% new_event_proposal_button "Propose a larp!" btn btn-primary m-2 %}
        <a href="{% page_url forum/propose %}" class="btn btn-primary m-2">
          Propose a Forum session!
        </a>
      </div>

      <p>Please fill out the proposal form with as much information as possible. This is the best way to help us evaluate your proposal quickly!</p>
    {% else %}
      <p>{{ convention.name }} is not currently accepting event proposals.</p>
    {% endif %}

    <section class="mt-4">
      {% assign show_all_proposals = true %}
      {% include 'user_event_proposals' %}
    </section>
  </div>
  
  <div class="col-md-5">
    <div class="card mb-4">
      <div class="card-header">
        <h5 class="m-0">Proposal Deadlines</h5>
      </div>
      
      <div class="card-body">
        <p>Intercon solicits and reviews proposals for events all through the year. That said, there are some reasons to get your proposal in as early as possible:</p>
        
        <ul class="mb-0">
          <li>Events are scheduled in the order that they're submitted, so submitting earlier means you're more likely to get the time slot and space you want.</li>
          <li>Your event gets more publicity by being on the site before registration opens.</li>
        </ul>
      </div>
    </div>

    <div class="card">
      <div class="card-header">
        <h5 class="m-0">Space Limitations for Small Larps</h5>
      </div>

      <div class="card-body">
        <p class="mb-0">Smaller larps (less than 10 players) will be accepted on a conditional basis due to space limitations during Friday night, Saturday daytime and Saturday night time slots. Midnight, Sunday, and earlier in the con will be easier to schedule for small games.  Also, if you are willing to run your small game in part of a larger space alongside a second game, please indicate on your form.</p>
      </div>
    </div>
    
    <div class="card mt-4">
      <div class="card-header">
        <h5 class="m-0">More Information</h5>
      </div>
      
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><a href="{% page_url proposalfollowup %}">What happens when I submit my proposal?</a></li>
        <li class="list-group-item"><a href="{% page_url proposalfaq %}">Larp Proposal FAQ</a></li>
        <li class="list-group-item"><a href="{% page_url gmpolicies %}">Con GM Policies and Services</a></li>
        <li class="list-group-item">Questions? Contact our {{proposal_chair.name_with_email_link}}, {{ proposal_chair.user_con_profiles[0].name }}.</li>
      </ul>
    </div>
  </div>
</div>