---
name: Intercon Theme
admin_notes: ''
---
<h1 class='my-3'>Why "Smoke and Mirrors"?</h1>
<blockquote class="blockquote">
  <p class="mb-0">It's all smoke and mirrors, and it's all fake, but it's not, because it makes people really feel things that are real. </p>
 <footer class="blockquote-footer">Samira Wiley</footer>
</blockquote>
<p>
I picked the name Smoke and Mirrors for a number of reasons.  In my opinion, a good theme for Intercon is one that works on multiple levels.  It should inspire people to make interesting games, ideally in new genres or forms that we haven't seen much of before.  It should also be fun, and welcoming.  To me, <i>Smoke and Mirrors</i> is about stage magic, but it's also about trickery and tricksterism of all kinds.  It's about shared illusion and consensual suspension of disbelief.  Its about how we come together, and, for a few hours, index cards become diamonds, hotel function rooms become spaceships, and our friends become strangers.
</p>
<p>Dave Kapell, Conchair, Intercon S</p>