---
name: Volunteering
---
<h1 class="my-3">Volunteering</h1>
<p>Intercons are the result of the work of many people, all 
pitching in. We welcome new people; there's no experience necessary. (After all, 
many of us had never run a convention before we started.) 
</p>
<p>
Whether it's an hour or two at the con or an hour or two a month leading up 
to the con, we welcome the help. You'll be working with a great group of people. 
</p>
<p>
We're especially interested in people who have contacts in the various 
college gaming groups or community theater groups. We're always looking to find 
new games, to meet new players, and to spread the word about LARPing. If you're 
willing to pass along the message about Intercon, then we'd love to hear from 
you! 
</p>
<p>
Con meetings are scheduled about once a month. These meetings move about the region, to try to maximize their accessibility. 
</p>
<p>
<strong>Check our schedule of <a href="{% page_url calendar %}">ConCom meetings</a> and drop by if you're interested in volunteering!</strong>
</p>
<p>
Or send us a note to <a href="mailto:conchair@interactiveliterature.org?subject=%5BIntercon%5D%20Volunteer!">join the Intercon Con Committee</a>!
</p>