---
name: About
admin_notes: Landing Page
skip_clickwrap_agreement: false
hidden_from_search: false
---
<h1 class="my-3">About Intercon</h1>

<table style="width: 100%; max-width: 800px">
  <tr>
    <td valign="top">
      <h2 class="my-3">Attendee Info</h2>

      <ul>
        <li><a href="{% page_url aboutintercon %}">About Intercon, NEIL, and LARPA</a></li>
        <li><a href="{% page_url signupfaq %}">Signing up for Games</a></li>
        <li><a href="{% page_url hotel %}">Hotel Information</a></li>
        <li><a href="{% page_url rules %}">Convention Rules</a></li>
        <li><a href="{% page_url aboutlarp %}">About LARP</a></li>
      </ul>
    </td>
    <td valign="top">
      <h2 class="my-3">Getting Involved</h2>

      <ul>
        <li><a href="{% page_url volunteering %}">Volunteering</a></li>
        <li><a href="{% page_url new-proposal%}">Proposing an Event</a></li>
        <li><a href="{% page_url gmpolicies %}">GM Benefits, Policies and Services</a></li>
        <li><a href="{% page_url concom-schedule %}">ConCom Schedule</a></li>
      </ul>
    </td>
  </tr>
  <tr>
    <td valign="top">
      <h2 class="my-3">People</h2>

      <ul>
        <li><a href="{% page_url contacts %}">Contact us</a></li>
        <li><a href="{% page_url bios %}">GM and Staff Bios</a></li>
      </ul>
    </td>
    <td valign="top">
      <h2 class="my-3">Special Events at Intercon</h2>

      <ul>
        <li><a href="{% page_url social %}">Social Events</a></li>
        <li><a href="{% page_url panels %}">Workshops and Panels</a></li>
        <li><a href="{% page_url irongm %}">Iron GM Competition</a></li>
      </ul>
    </td>
  </tr>
</table>