---
name: About Intercon
admin_notes: ''
skip_clickwrap_agreement: false
hidden_from_search: false
---
<h1 class="my-3">About Intercon</h1>
<h2 class="my-3">What is Intercon?</h2>
Intercon is the biggest all-LARP convention in the New England area.  It is
run by <a href="http://www.interactiveliterature.org">New
England Interactive Literature</a>,
an organization that exists to promote live action roleplaying in New England and beyond.

<h2 class="my-3">I have heard of other Intercons, what's the deal with that?</h2>
<p>You may have heard of Intercons such as Intercon Mid-Atlantic, and
Intercon NorthEasts, and even Intercons with numbers after them.  Those are
Intercons that happened outside the New England area.  They were loads of
fun, but sadly, all of them are currently defunct.

</p>
<h2 class="my-3">Who is New England Interactive Literature (NEIL)?</h2>
<p><a href="http://www.interactiveliterature.org">New England Interactive
Literature</a> (NEIL) is the
group of volunteers that brings you the New England Intercons.

</p><h2 class="my-3">Who is LARPA?</h2>
<p>The Live Action RolePlayers Association (LARPA) owns the Intercon
trademark.</p>