---
name: About Larp
admin_notes: REVIEW
skip_clickwrap_agreement: false
hidden_from_search: false
---
<h2 class="my-3">What is Larp?</h2>
<p><b>LARP</b> (now usually written as 'larp') stands for <b>L</b>ive <b>A</b>ction <b>R</b>ole <b>P</b>laying.
That's what most Larpers will agree on. It is interactive improvisation
between people who are each playing a persona. After that, ask ten different
Larpers what they think Larp is, and you may get twelve or thirteen different
answers!
</p><p>That's because there are all sorts of games and players. Larp is not
solely
medieval fantasy games, or dark games filled with vampires, or mysteries
where
everyone tries to find out who did it, or games where people wear armor and
beat
on each other with padded weapons, or...
</p><p>Larp is all of these, and more.
</p><p>There are some things in common amongst all of these games. Everyone at
the
game comes in character. You play a role, like the Russian ambassador to
Germany, the drummer from the band <i>Toxic Waste</i>, or the doctor on
board a
luxury starliner. For the duration of the game, you dress, speak, act and
live
the part. You've got an agenda for the game - a list of things that you must
accomplish. Some tasks are easy, some things are hard. Some players may be
working towards the same goals as you, while others may be working against
you.
</p><p>There's no script. You improvise all your lines. You don't operate in a
vacuum, because you have a character description, a background history of
who
you're trying to be.
</p><p>You're also not alone. Games can be small, with only a few characters,
they
can be large, with upwards of sixty or seventy players, or they can be huge.
Games can last a few minutes, four, six, or eight hours, an entire weekend,
or even longer, played in several sessions. A good Larp can be an amazing
experience and incredibly fun to play.
</p>
<h2 class="my-3">Why Larp?</h2>
<p>
  Because it's fun! People roleplay for a whole number of reasons.
Some for escapism because it's lots of fun to be someone else for a few
hours or a few days at a time, for the social aspects of the game and the
opportunity to meet new people, and for the pure exhilaration of letting your
mind run wild in a world of complete fantasy. Some players of LC style games
like the opportunity to get away from their desks and do something physical
in the fresh air.

</p>
<h2 class="my-3">I play tabletop role playing games, is this similar?</h2>
<p>Yes, there are many similarities, but there are also many differences.
In a tabletop game you describe what your character is doing, but in a
Live Action game you do the actions your character does.</p>