---
name: Accessibility
skip_clickwrap_agreement: false
hidden_from_search: false
---
<h1 class='my-3'>Accessibility at Intercon</h1>
<div class="row">
  <div class="col-md-3">
    <ul class="section-nav sticky-top" style="top:72px">
      <li class="toc-entry menu-header" style='display:none'>
        <h4>Accessibility</h4>
      </li>
      <li class="toc-entry"><a href="#intro">Introduction</a></li>
      <li class="toc-entry"><a href="#resources">Resources</a></li>
  </ul>
</div>
<div class='col'>

<h2 class="my-3"><a name='intro'>Introduction</a></h2>
<p class="lead">
  {{convention.name}} is committed to inclusion for LARPers from all backgrounds and with a diverse array of needs.  
</p>
<p>
  Improvements that we have made include several resource documents, improved signage, and the creation of a quiet room.
</p>
<p>
  On this page, the Intercon Accessibility team has provided several resources for attendees and GMs that we hope will be useful.
We want to hear from you! If you have feedback for us about accommodations or access needs at Intercon, please email the {{convention.staff_positions_by_name.accessibility_coordinator.name_with_email_link}}.
</p>
  <hr>
<h2 class="my-3"><a name='resources'>Resources</a></h2>
<div class='row'>

<div class='col-md-6'>
  <div class='list-group'>
<a class='list-group-item list-group-item-action' href={%page_url "beginners" %}><i class="bi bi-file-text"></i> Intercon Beginners Guide</a>
<a class='list-group-item list-group-item-action' href={%page_url "accessibility/gm" %}><i class="bi bi-file-text"></i> GM Accessibility Guide</a>
</div>
</div>
</div>
  
</div>
</div>