---
name: Intercon for Beginners
skip_clickwrap_agreement: false
hidden_from_search: false
---
<h1 class="my-3">Intercon for Beginners</h1>
<div class="row">
  <div class="col-md-3">
    <ul class="section-nav sticky-top" style="top:72px">
      <li class="toc-entry menu-header" style='display:none'>
        <h4>Intercon for Beginners</h4>
      </li>
      <li class="toc-entry"><a href="#intro">Introduction</a></li>
      <li class="toc-entry"><a href="#signups">Signups</a>
        <ul>
          <li class="toc-entry"><a href="#signups-waitlist">Getting waitlisted</a></li>
          <li class="toc-entry"><a href="#signups-pacing">Pacing yourself</a></li>
        </ul>
      </li>
      <li class="toc-entry"><a href="#before">Before the con</a>
        <ul>
          <li class="toc-entry"><a href="#before-characters">Characters</a></li>    
          <li class="toc-entry"><a href="#before-hotel">Staying at Intercon</a></li>
          <li class="toc-entry"><a href="#before-packing">Packing for Intercon</a>
            <ul>
              <li class="toc-entry"><a href="#before-packing-costuming">Costuming</a></li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="toc-entry"><a href="#atcon">At the con</a>
        <ul>
          <li class="toc-entry"><a href="#atcon-checkin">Staying at Intercon</a></li>
          <li class="toc-entry"><a href="#atcon-larps">Attend larps</a></li>
          <li class="toc-entry"><a href="#atcon-fillin">Filling in last minute</a></li>
          <li class="toc-entry"><a href="#atcon-between">Between games</a></li>
          <li class="toc-entry"><a href="#atcon-takecare">Take care of yourself</a></li>
          <li class="toc-entry"><a href="#atcon-help">Where to get help</a></li>
        </ul>
      </li>
</ul>
</div>
<div class='col'>

<h2 class="my-3"><a name='intro'>Introduction</a></h2>
<p class="lead">
  Intercon is exciting and can also be confusing / overwhelming. We’ve put together some information about what to expect. This covers both before the convention and once you arrive so that the overall experience is more approachable for newcomers or anyone who hasn’t attended in a while.
</p>
<hr>
<h2 class="my-3"><a name='signups'>Signups</a></h2>
<p>
  Signups happen in a few rounds before the convention. <a href="{% page_url signupfaq %}">More detail can be found in the Signup FAQ</a>.
</p>
<h3 class="my-2"><a name='signups-waitlist'>If you are placed on a waitlist</a></h3>
<p>
  If you are placed on a waitlist, particularly if you are in the first few waitlist slots and in a larger game, there is a fair chance you’ll get into the game with last-minute drops. It’s a good idea to show up for the game at its scheduled time in case you’ll be filling in, even if you haven’t heard from the GMs yet. Showing up in neutral or black clothing can be helpful if you don’t know about the role you’ll get at the last minute. People will understand that you had limited time to costume.
</p>
<h3 class="my-2"><a name='signups-pacing'>Pacing yourself</a></h3>
<p>
  Some people like to have a packed schedule, but that can also be tiring. If you end up not getting into a game during a particular time slot, that can be a good opportunity for socializing, napping, hydrating, eating snacks, or preparing for another game you have coming up. Some games run fairly late at night, and sometimes people socialize fairly late after games. Choosing some deliberate downtime or planning not to have both a late game and an early morning game can be part of pacing yourself. Remember to do self-care and rest!
</p>
<hr>
<h2 class="my-3"><a name='before'>Before the con</a></h2>
<h3 class="my-2"><a name='before-characters'>Creating, choosing, or being assigned to characters</a></h3>
<p>
  There are a variety of types of larps at Intercon. For more information on different genres of larp, check out our more general How to larp for Beginners document. (coming soon) 
</p>
<p>
  For many games at Intercon, character descriptions have been created by the authors and will be assigned to players - this is called “casting” players, just as one would cast actors for certain roles in a play. Many games at Intercon cast players in character roles ahead of time so that players can read information about the characters and prepare costuming. Casting is done based on casting surveys. These questionnaires are designed to  indicate what players are interested in seeking out or avoiding so the GMs can assign a character that’s a good fit. One common example is asking players whether there are particular content/warnings they want to play on or not play on.
</p>
<p>
  If you receive a casting survey for a game you’re in, it’s important to fill that out before the deadline so the GMs can match players to characters and distribute character sheets in a timely fashion. Some GMs send an initial short character description or “costuming hint” earlier on before sending longer written materials so that players will have more time to prepare costumes.
</p>
<p>
  Casting surveys and character information are sent to the email address you register with on the Intercon website. Try not to miss those emails! If you’re expecting a survey and it hasn’t arrived, check your Spam folder. GMs may also post on the unofficial Facebook group and/or Discord site when they distribute player surveys.
</p>
<p>
  For some games, players create their own characters ahead of time by communicating with the people running the game. For others, characters are created together with other players at the start of the game’s time slot in a process called Workshopping. If a game is described as “casting at the door”, this means that pre-written characters will be distributed to players when they arrive at the game location at the time the game is scheduled.
</p>
<h3 class="my-2"><a name='before-hotel'>Arranging travel plans for spending the night</a></h3>
<p>
  Most participants in the convention spend the night at the hotel - some games take place late at night or early in the morning, and it can be convenient to have a room to leave your luggage in and get changed in. If you do not stay at the hotel, you’ll still be able to change costumes in the hotel bathrooms. More information about making your resevervation is available on the <a href="{%page_url hotel%}">Hotel Info Page</a>.
</p>
<h3 class="my-2"><a name='before-packing'>Packing for Intercon</a></h3>
<p>
  Not every game at Intercon involves costuming, but many games have costuming suggestions, so you may wish to plan for costuming luggage space.
</p>

<h4 class="my-2"><a name='before-packing-costuming'>What should I wear to an Intercon game?</a></h4>
<p>
  At intercon games, you will see attendees wearing a range of costumes. Unless otherwise specified in a game, there are no costuming requirements for larps at the con. You do not need to go to great effort or financial expenditure to play and enjoy games at Intercon. Street clothes are fine, and all black clothes, if you have them, are a safe bet for any game. If you're in doubt about what would fit in, you can also ask the GM(s)!  You can find an email to reach the GM on the event page, or if that isn't working by contacting the {{convention.staff_positions_by_name.attendee_coordinator.name_with_email_link}}.
</p>

<p>
  The general range of what you'll see players show up to games at the con is listed below:
  <ol>
    <li>Street clothes.</li>
    <li>All black clothes, like a theater stagehand; might be referred to as “blacks”</li>
    <li>One or two accessories in theme with the game.</li>
    <li>Full costumes at the level one might see at a ren faire or con with cosplay.</li>
    <li>High effort pieces like hoop skirts, armor, glowing wire, wings, etc.</li>
  </ol>
</p>
<p>
  Anything from 1-5 is fine in any game, unless the game calls out a specific expectation, such as if the game is set at a Venetian masquerade ball and specifies that masks or face paint is required.  In these cases, the expectation is that the GMs will be providing the required items.
</p>
<p>
  Larger, longer games that take place in rich settings, such as high fantasy or historical courts or cyberpunk futures, are likely to have more players in the 3-5 range. In shorter games that are more concept or horde focused, players will more often be in the 1-3+ range.  
</p>
<hr>
<h2 class="my-3"><a name='atcon'>At the con</a></h2>
<h3 class="my-2"><a name='atcon-checkin'>Checking in at the convention</a></h3>
<p>
  When you arrive, visit the operations(ops) / registration desk, where you’ll receive your convention badge, and information like a schedule printout and <a href="{% page_url "hotel/layout" %}">map of the convention space</a>.
</p>
<p>
  You can specify what name and pronouns you want printed on your badge. The convention volunteers typically confirm whether you want to use the name and pronouns you entered in <a href='/my_profile'>your Intercon Profile</a> when registering or something else before printing the badge.
</p>
<h3 class="my-2"><a name='atcon-larps'>Attend larps</a></h3>
<p>
  Make sure to arrive to your game on time or even 5-10 minutes early if possible. This gives you time to skim over rules and your character sheet so you’ll have the details fresh in your memory. If you are arriving late, please communicate that to the GM. If you need to drop out of a game, please use the Intercon website to do so. Give your GMs as much advance notice as you can, so that they have a chance to find another player to replace you.
</p>
<p>
  You will likely want to reference your game materials at the larp. GMs may or may not provide hard copies so if you want paper copies you should check with them and/or print yourself. You can also have them available on your phone.
</p>
<p>
  Many games will have name tags you can place in the same badge holder you use for your convention badge; some will have additional name badges for you to wear for the duration of the game.
</p>
<p>
  GMs typically have a briefing which will vary in length and complexity depending on the game. It may be just a few announcements and a review of key rules before the game starts, and there’s usually an opportunity for a quick round of introductions so that players can identify the other characters (by a mix of nametag, costuming, face, voice, etc).
</p>
<p class="d-none">
  In case you’re new to larping overall and not just new to this convention, you can check out this intro to larping page about what to expect.
</p>

<h3 class="my-2"><a name='atcon-fillin'>Filling in last minute</a></h3>
<p>
  Sometimes players drop out of games very close to the convention, or even during the convention itself, due to unforeseen circumstances or illnesses. If there’s a time when you are not already signed up for a game but might like to play one, you can check for games that need players to fill in last-minute. You can see games with open slots on <a href='/'>Intercon’s homepage</a>.
</p>
<p>
  There is a sign near the operations desk listing games that need players, and the people running games often announce the need for extra players in the <i>#players-needed</i> channel on the <a href="https://discord.gg/{{discord_invite}}" target="_blank">Intercon Discord Server</a>. Some GMs may also cross-post to the unofficial <a target="_blank" href="https://www.facebook.com/groups/12809145492">Intercon X Facebook community</a>, but Discord is the more common place for last-minute player requests.
</p>
<h3 class="my-2"><a name='atcon-between'>Between games</a></h3>
<p>
  During times when you are not playing in a larp, there are plenty of places to be other than your own hotel room! 
</p>
<p>
  Players often like to spend time talking about the games they’ve just experienced or what other games they’re looking forward to, so there are places to talk to old or new friends, as well as places to get some food or some peace and quiet if you need some downtime.
</p>
<p>
There are <a href='{%page_url forum %}'>Forum@Intercon</a> and <a href='{%page_url social%}'>Social Events</a> to check out, as well as unstructured social options in the Consuite and vendors. There will be boardgames available and you can always ask if folks want to talk about their latest larp experiences. Intercon has a Quiet Room available for those who need a quiet space to do self-care and/or nap. 
</p>
<p>
You can find more information about the event spaces here.
</p>

<h3 class="my-2"><a name='atcon-takecare'>Take care of yourself</a></h3>
<p>
  Like any exciting convention, Intercon can be tiring if you’ve filled your schedule with events from an early start to a late evening.
</p>
<p>
Remember food, water, and sleep!
</p>
<p>
There is <a href='{%page_url food%}'>food</a> available at the hotel, and there are restaurants a short drive away. There can be long lines at peak times before games, so it’s good to leave plenty of time to get your meal. This is especially true of the restaurant in the hotel! Please note that buying concession food in the Atrium does help Intercon to meet its food & beverage minimums. 
</p>
<p>
Aside from meals, you may also wish to carry some snacks and a water bottle with you. 
The rooms games take place in usually have water available. There are fridges in the hotel rooms if you wish to bring food to the convention. 
</p>
<p>
Some attendees enjoy signing up for a very full schedule of events and others deliberately choose fewer games so they’ll have more time to rest, socialize, eat, and change costumes between games. 
</p>
<h3 class="my-2"><a name='atcon-help'>Where to get help</a></h3>
<p>
  During the convention, if you are having a problem related to the hotel, the hotel front desk is the best place to go for help. 
</p>
<p>
If you are having trouble finding your way around, or have other challenges with the convention, the Intercon Operations desk, will have Intercon volunteers at the times and locations listed on the <a href='/schedule'>{{convention.name}} schedule</a>.
</p>
<p>
If you are having problems involving the behavior of other convention guests, game runners, or staff, reach out to our Safety Staff via a call or text to the number on the back of your Intercon badge (313-723-3894).
</p>

</div>
</div>
