---
name: Boardgames
skip_clickwrap_agreement: false
hidden_from_search: false
---
<h1 class="my-3">Boardgames at Intercon</h1>
<div class="row">
  <div class="col-md-3">
    <ul class="section-nav sticky-top" style="top:72px">
      <li class="toc-entry menu-header" style='display:none'>
        <h4>Boardgames</h4>
      </li>
      <li class="toc-entry"><a href="#overview">Overview</a></li>
      <li class="toc-entry"><a href="#library">NEIL Boardgame Library</a></li>
    </ul>
  </div>
  <div class='col'>


<h2 class="my-3"><a name="overview">Overview</a></h2>
<p>If you're looking for something to do between larps, why not find and/or make some friends and grab a board game from the NEIL Board Game library, available in the Rotunda.  We'll have signup sheets available so you can indicate a desire to play a specific game at a later time, and people can sign up to play along with you.
  <hr>
<h2 class="my-3"><a name="library">NEIL Boardgame Library</a></h2>
    {%include 'boardgame_list' %}
</div>
</div>