---
name: Bucket System Description
skip_clickwrap_agreement: false
hidden_from_search: false
---
<h3 class="my-3">Game Signup Bucket System</h3>
{% include "proposal_form_registration_policy_instructions" %}