---
name: Content formatting
admin_notes: ''
skip_clickwrap_agreement: false
hidden_from_search: true
---
<h1 class="my-3">Content formatting: a crash course</h1>
<div class="row">
  <div class="col-md-3">
    <ul class="section-nav sticky-top">
      <li class="toc-entry"><a href="#markdown">Markdown</a></li>
      <li class="toc-entry"><a href="#html">HTML</a></li>
      <li class="toc-entry"><a href="#css">CSS and Bootstrap</a></li>
      <li class="toc-entry"><a href="#snippets">Useful Snippets</a>
        <ul>
          <li class="toc-entry"><a href="#examplesubheading">Example</a></li>
        </ul>
      </li>
    </ul>
  </div>
  <div class="col">
    <h2 class="my-3"><a name='markdown'>Markdown</a></h2>
    <p>
      Text here
    </p>
    <h2 class="my-3"><a name='html'>HTML (for advanced users)</a></h2>
    <p>
      Text here
    </p>
    <h2 class="my-3"><a name='css'>Basic CSS and Bootstrap (for advanced users)</a></h2>
    <p>
      Text here
    </p>
    <h2 class="my-3"><a name='snippets'>Useful Snippets</a></h2>
    <p>
      Text here
    </p>
    <!-- this is an example of a subheading, note that it's a h3, my-2 vs top level section's h2 my-3 -->
    <h3 class="my-2"><a name='examplesubheading'>Example</a></h3>
    <p>
      Text here
    </p>
  </div>
</div>