---
name: Food at Intercon
skip_clickwrap_agreement: false
hidden_from_search: false
---
<h1 class='my-3'>Food at Intercon</h1>
<div class="row">
  <div class="col-md-3">
    <ul class="section-nav sticky-top" style="top:72px">
      <li class="toc-entry menu-header" style='display:none'>
        <h4>Food at Intercon</h4>
      </li>
      <li class="toc-entry"><a href="#intro">Introduction</a></li>
      <li class="toc-entry"><a href="#concessions">Concessions</a></li>
      <li class="toc-entry"><a href="#restaurant">Restaurant</a></li>
      <li class="toc-entry"><a href="#cafe">Cafe</a></li>
      <li class="toc-entry"><a href="#catering">Catering in Larps</a></li>
      <li class="toc-entry"><a href="#social">Social Events</a>
        <ul>
          <li class="toc-entry"><a href="#social-bar">Intercon Bar</a></li>
        </ul>
      </li>
      <li class="toc-entry"><a href="#self">Self-Service</a></li>
  </ul>
</div>
<div class='col'>

<h2 class="my-3"><a name='intro'>Introduction</a></h2>
<p class='lead'>While at {{convention.name}} there are several food options to keep you larping and socializing through the weekend.  Below is more information about the food available at the convention.
<hr>
<h2 class="my-3"><a name='concessions'>Concessions</a></h2>
<p>
  {{convention.name}} has arranged with the hotel to provice cash/card concessions in consuite throughout the weekend.  Purchasing food and drink from the concessions helps out {{convention.name}} as it counts towards our food and beverage minimum spend.  More information, including hours and a tentative menu can be found on the <a href="{%page_url "food/concessions"%}">Concessions Page<a>.
</p>
<hr>
<h2 class="my-3"><a name='restaurant'>Restaurant</a></h2>
<p>
  The hotel has a restaurant, <a href='https://www.ihg.com/crowneplaza/hotels/us/en/warwick/wrwri/hoteldetail/dining' target="_blank">The Crossings</a>, in the lobby, just outside of Atrium.   They offer American cuisine, with sit down service and are open from 6AM - 10PM every day.
</p>
<hr>
<h2 class="my-3"><a name='cafe'>Cafe</a></h2>
<p>
  The hotel has a small cafe, located just outside of the Plaza Foyer, which serves Starbucks coffee and bakery items in the mornings.
</p>
<hr>
<h2 class="my-3"><a name='catering'>Catering in Larps</a></h2>
<p> 
  Some larps may have arranged ahead of time to provide food for their players.  This is done via the furniture request system, typically in January.  GMs that provide food in this way will be paying for the food themselves, and may ask for an optional donation to offset the personal cost.  For more information about this, see the Food section of <a href="{% page_url gmpolicies %}#FoodService">GM Policies</a>
</p>
<hr>
<h2 class="my-3"><a name='catering'>Social Events</a></h2>
<p> 
  Some Social Events, especially the ones run by Intercon directly, will be providing some amount of food.  Most notably the Thursday night welcome party, the Friday night pizza party, and the Sunday night Sundae Social will all be catered.  Come share a bite with your fellow attendees!  For more information about social events, see <a href='{%page_url social%}'>Social Events</a>
</p>
<h3 class="my-2"><a name='catering-bar'>Intercon Bar</a></h3>
<p>
  On Friday and Saturday nights, Intercon will be hosting a cash bar for our attendees!  Purchases from this bar also help Intercon meet our Food and Beverage minimum spend.  Please check the <a href='/events/schedule'>Schedule</a> for more information!
</p>
<hr>
<h2 class="my-3"><a name='self'>Self-Service</a></h2>
<p> 
  Every hotel room has a mini fridge, and there are microwaves available in the common areas on the second and fifth floors, if you wish to provide your own food for the weekend.
</p>

  </div>
</div>
      
  
