---
name: Glossary
admin_notes: ''
skip_clickwrap_agreement: false
hidden_from_search: false
---
<h1 class='my-3'>Larp Glossary</h1>
<div class="row">
  <div class="col-md-3">
    <ul class="section-nav sticky-top" style="top:72px">
      <li class="toc-entry menu-header" style='display:none'>
        <h4>Larp Glossary</h4>
      </li>
      <li class="toc-entry"><a href="#black-box">Black Box</a>
      <li class="toc-entry"><a href="#bleed">Bleed</a></li>
      <li class="toc-entry"><a href="#blockbuster">Blockbuster</a></li>
      <li class="toc-entry"><a href="#bluesheets">Bluesheets</a></li>
      <li class="toc-entry"><a href="#boffer">Boffer Style</a></li>
      <li class="toc-entry"><a href="#byoc">BYOC / Bring Your Own Character</a></li>
      <li class="toc-entry"><a href="#byog">BYOG / Build Your Own Game</a></li>
      <li class="toc-entry"><a href="#casting">Casting Questionnaire</a></li>
      <li class="toc-entry"><a href="#character-sheet">Character Sheet</a></li>
      <li class="toc-entry"><a href="#contingency">Contingency Envelope</a></li>
      <li class="toc-entry"><a href="#debrief">Debrief</a></li>
      <li class="toc-entry"><a href="#elevator">Elevator Game</a></li>
      <li class="toc-entry"><a href="#freeform">Freeform</a></li>
      <li class="toc-entry"><a href="#interactive-literature">Interactve Literature</a></li>
      <li class="toc-entry"><a href="#horde">Horde Larp</a></li>
      <li class="toc-entry"><a href="#iron-gm">Iron GM</a></li>
      <li class="toc-entry"><a href="#lines-and-veils">Lines and Veils</a></li>
      <li class="toc-entry"><a href="#litform">Litform</a></li>
      <li class="toc-entry"><a href="#npc">NPC / Non Player Character</a></li>
      <li class="toc-entry"><a href="#pve">PvE / Player vs Environment</a></li>
      <li class="toc-entry"><a href="#pvp">PvP / Player vs Player</a></li>
      <li class="toc-entry"><a href="#safety">Safety Mechanics</a></li>
      <li class="toc-entry"><a href="#snp">Secrets and Powers</a></li>
      <li class="toc-entry"><a href="#theatre">Theater Style</a></li>
      <li class="toc-entry"><a href="#vampire">Vampire</a></li>
      <li class="toc-entry"><a href="#workshop">Workshop Game</a></li>
    </ul>
  </div>
  <div class="col document">
    <p class="lead">
      Larp is not well defined and that’s ok!  The below is not meant to be a list of exact definitions, it is meant to give you an idea of some answers you might get from different community members if you ask them about these terms.  Ask 10 larpers about larping and you’ll get 14 answers 🙂
    </p>
    
    <h3 class="my-2"><a name='black-box'>Black Box</a></h3>
    <ol>
      <li>A LARP run with minimal to no set dressing, costuming, and/or props.</li>
      <li>"A black box is a room with black walls, no windows, flat floor and no furniture…The black box is frequently used as a meta room where the players can go during the runtime of a longer larp. In the meta room the players may enrich the stories of the characters beyond the time and space of the "main" larp, and to give players a break and an opportunity to think through their larping without having to go off-game."
- <a href='https://nordiclarp.org/wiki/Black_Box' target='_blank'>Nordic Larp Wiki <i class="bi bi-box-arrow-up-right"></i></a></li>
      <li>This term might also emerge from theater; a black box theater fits the definition in 1. and is often home to more ‘experimental’ and minimalist theater that focuses on a close audience connection with the actor(s), rather than the spectacle of the performance.</li>
    </ol>

    <h3 class="my-2"><a name='bleed'>Bleed</a></h3>
      <p>
        "Bleed" is a term for where the thoughts or emotions of a player affect their character’s thoughts or emotions, or vice versa. It refers to the way that intense roleplaying can feed off of a player's real-life experience, or feed back into it.  While this can heighten the experience, it has the potential to cause damage, so it is common to include Safety Mechanics during the Debrief in an attempt to reduce the after-effects.
<br>
        Defined also at <a href='https://nordiclarp.org/wiki/Bleed' target='_blank'>Bleed - Nordic Larp Wiki <i class="bi bi-box-arrow-up-right"></i></a>
      </p>

    <h3 class="my-2"><a name='blockbuster'>Blockbuster (aka "Destination LARP")</a></h3>
    <p>On a real battleship! In a real castle! On the darkened streets of real New Orleans! A blockbuster larp has as part of its appeal an exotic, unusual, or spectacular real-world venue. High production values and a ticket price to match. 
      <br>
      Defined also at <a href='https://nordiclarp.org/wiki/Blockbuster' target='_blank'>Blockbuster – Nordic Larp Wiki. <i class="bi bi-box-arrow-up-right"></i></a>
    </p>

    <h3 class="my-2"><a name='bluesheets'>Bluesheets</a></h3>     
    <p>
      Information, usually about some elements of the setting, that is sent to every player in a game or every player in a team or faction of players, telling them information that everyone else in the game / team / faction knows as well.  These used to be printed on blue paper, hence the name.
    </p>
    <p>
      The term originates from MIT Assassins' Guild (<a href='http://web.mit.edu/jemorris/Rules/standard-rules.pdf' target='_blank'>http://web.mit.edu/jemorris/Rules/standard-rules.pdf <i class="bi bi-box-arrow-up-right"></i></a>) but at Intercon, people don't usually differentiate between bluesheets, greensheets, and whitesheets the way the Assassins' Guild does.
    </p>
        
    <h3 class="my-2"><a name='boffer'>Boffer Style</a></h3>
    <p>
      A Boffer game is one where conflict/combat resolution is done via simulated combat, typically using padded foam weapons or nerf darts. Compare to <a href='#theatre'>Theater Style.</a>
    </p>
            
    <h3 class="my-2"><a name='byoc'>BYOC / Build (or Bring) Your Own Character</a></h3>
    <p>
      BYOC games are ones where rather than being given a character sheet by the game runner(s), players are expected to either create a character within certain parameters before the game begins.  There are some blurry edges in usage between this and “workshop” games (below).
    </p>
        
    <h3 class="my-2"><a name='byog'>BYOG / Build Your Own Game</a></h3>
    <p>
      A once-common process at Intercon, where the creators gather at the beginning of the convention, figure out what they want to write, spend the weekend writing it, and then run it at the end of the convention for players who sign up in advance.  Largely replaced by the Iron GM Competition today.
    </p>
        
    <h3 class="my-2"><a name='casting-questionaire'>Casting Questionnaire</a></h3>
    <p>
      Common to most <a href='#litform'>Litform</a> games, this is a survey sent to players before a game is run, allowing them to express their preferences so that the GMs can assign them a suitable character in the game.  Not usually necessary for Workshop games, although those will sometimes provide a survey to determine the <a href='#lines-and-veils'>Lines and Veils</a> for the game.
    </p>
        
    <h3 class="my-2"><a name='character-sheet'>Character Sheet</a></h3>
    <p>
      Common to most <a href='#litform'>Litform</a> games, this is a document pre-written by the game's authors, given to a player, describing the character that they will be playing in this game.
    </p>
        
    <h3 class="my-2"><a name='contingency'>Contingency Envelopes</a></h3>
    <p>
      Envelopes that contain additional information, memories, character snippets, etc, which have a trigger to be opened (a contingency). For example, “open when Event A happens” or “open if someone uses the name ‘Blackbird’ around you”.  These are often used to suggest behaviors that you should be trying to participate in or be aware of.
    </p>
        
    <h3 class="my-2"><a name='debrief'>Debrief</a></h3>
    <p>
      Common in many one-shot games, the Debrief is a period immediately after the game in which the players and GMs can talk about the game and how it went. This may be more or less structured depending on the preferences of the GMs, and may include <a href='#safety'>Safety Mechanics</a> in order to reduce undesirable <a href='#bleed'>Bleed</a>.
    </p>
        
    <h3 class="my-2"><a name='elevator'>Elevator Game</a></h3>
    <p>
      An emerging common subset of <a href='#boffer'>Boffer Style</a> games run indoors where players move back and forth between episodes of simulated combat and safe spaces intended for RP and/or other non-combat challenges.
    </p>
        
    <h3 class="my-2"><a name='freeform'>Freeform</a></h3>
    <p>
      In the US, often refers to lower-prep games descended from traditions coming out of indie tabletop rpgs, such as games that are part of the yearly <a href='https://www.goldencobra.org/' target=_blank>Golden Cobra contest <i class="bi bi-box-arrow-up-right"></i></a>.
    </p>
    <p>
      "The Brits use 'Freeform' to mean what we call ''<a href='#litform'>Litform</a>'. Larps that use different mechanics than non-freeform larps. If there’s a combat resolution mechanic, it’s probably not a freeform; if there’s a mechanic where you speak the thoughts of your character out loud, it probably is."
    </p>
        
    <h3 class="my-2"><a name='interactive-litearture'>Interactive Literature</a></h3>
    <p> 
      This is what New England Interactive Literature (NEIL, the current parent organization of Intercon), the Interactive Literature Foundation (ILF, which preceded it), and the Society for Interactive Literature (SIL, the original progenitor of what would eventually become Intercon, nee SILicon) were named for.  Fun fact: this term actually predates the better known term ‘Interactive Fiction’ (i.e. computer text adventure games) by a year or two, in the early 1980s.
    <br>
      See also: <a href='https://blog.knotaffront.com/2018/03/07/what-is-interactive-literature/' target='_blank'>What is Interactive Literature?  <i class="bi bi-box-arrow-up-right"></i></a> (Written before ‘litform’ was coined, a few months later, at LGC2018) 
    </p>
        
    <h3 class="my-2"><a name='horde'>Horde Larp</a></h3>
    <p>
      A larp style in which one group of players (“cast”) each play a single character throughout the duration of the larp, while a second group (“horde”) play a series of short-duration roles one after the other.
    </p>
        
    <h3 class="my-2"><a name='irongm'>Iron GM</a></h3>
    <p>
      A competition, often run at Intercon, in which teams of writers receive a genre, a theme, an element, and a prop, construct games around those in a limited period of time, and then run those games at the convention.  For more information, see <a href='{% page_url 'Iron GM' %}'>Iron GM</a>
    </p>
        
    <h3 class="my-2"><a name='lines-and-veils'>Lines and Veils</a></h3>
    <p>
      A <a href='#safety'>safety mechanic</a> developed by Ron Edwards for his tabletop game “Sorcerer.” Lines and veils are descriptive terms for describing content that is intentionally kept out of the game space. Something behind a “line” never enters the fiction; something under a “veil” can be referenced or alluded to but is never the subject of player or GM attention or emphasis.
    </p>
        
    <h3 class="my-2"><a name='litform'>Litform</a></h3>
    <p>
      A style of larp where the plot web, character backstory, and character relationships are written by the GM/GMs.  'Lit', as the key differentiator for the style is the literature, that is, the game's written content, has been written by the game writers (as opposed to the players, either beforehand or as part of a workshop during game), and '-form', which is a common ending to imply 'larp style', as in 'freeform', 'jeepform', etc. Litform games may be <a href='#theatre'>theater-style</a> or <a href='#boffer'>boffer</a>. The more modern name for what some used to call <a href='#secrets-and-powers'>"Secrets and Powers"</a> or <a href='#interactive-literature'>"Interactive Literature"</a>, although those are both subsets of what we now consider to be Litform.  Coined by Susan Weiner, at the Living Games Conference, 2018.
    </p>
        
    <h3 class="my-2"><a name='npc'>NPC (Non-Player Character)</a></h3>
    <p>
      An NPC is a character in the game that is either played by a GM, or a person whose actions are substantially driven by the GMs.  NPCs may be used to inject information in a game, to provide PVE conflict, and so on – they are a general mechanism for GMs to steer the game in particular directions.
    </p>
        
    <h3 class="my-2"><a name='pve'>PvE / Player vs. Environment</a></h3>
    <p>
      A style where tension is introduced into the game via forces external to the players.  (For example, NPCs or puzzles.)  PVE is somewhat more common in <a href='#boffer'>Boffer-style</a> larps, although all types of games may include a measure of PVE.
    </p>
        
    <h3 class="my-2"><a name='pvp'>PvP / Player vs. Player</a></h3>
    <p>
      A style where the tension in the game is more due to conflicting goals between the player's characters.  PVP is somewhat more common in <a href='#litform'>Litform</a> larps, although all types of games may include a measure of PVP
    </p>
        
    <h3 class="my-2"><a name='safety'>Safety Mechanics</a></h3>
    <p>
      Usually refers to a set of conventions that a game chooses to use to provide emotional safety for the participants: signs that players can use to indicate that are or are not okay, rules for what is or is not allowed in the game, processes before / after the game to help with <a href='#bleed'>Bleed</a>, and so on.  There are a number of such conventions that a game may choose from, such as <a href='#lines-and-veils'>Lines and Veils.</a>
    </p>
        
    <h3 class="my-2"><a name='snp'>Secrets and Powers</a></h3>
    <p>
      A style of larp typified by gameplay involving secrets where conflicts are resolved using characters’ mechanical abilities, i.e. “powers” (but do not need to).  This was used by some to describe some <a href='#interactive-literature'>Interactive Literature</a> games, and has been largely replaced by <a href='#litform'>'Litform’</a>, though others used "Secrets and Powers" to describe only the subset of games now categorizes as <a href='#litform'>'Litform'</a>. Now that <a href='#litform'>'Litform'</a> exists, games described this way do almost always use Powers for conflict resolution.  There’s a lot of overlap between these and <a href='#litform'>Litform</a>, although Secrets and Powers games almost always use <a href='#theatre'>Theatre-style</a> resolution mechanics instead of <a href='#boffer'>Boffer</a> ones.
    </p>
    <p>
      The term "Secrets and Powers" was probably first defined formally in the article "The Parlor Sandbox: Counter-Players and Ephemera in American Freeform" by Evan Torner and Katherine Castiello Jones, in the <a href='https://www.sarahlynnebowman.com/wp-content/uploads/2017/10/2014-Wyrd-Academic-Book.pdf' target='_blank'>2014 Wyrd Con Companion Book <i class="bi bi-box-arrow-up-right"></i></a>.  See also "Decoding the Default" by Nat Budin in the <a href='https://www.sarahlynnebowman.com/wp-content/uploads/2017/10/WCCB15-Final-1.pdf' target='_blank'>2015 Wyrd Con Companion Book <i class="bi bi-box-arrow-up-right"></i></a>.
    </p>
        
    <h3 class="my-2"><a name='theater'>Theater Style</a></h3>
    <p>
     A theater style game is one where conflict resolution is done via abstracted game mechanics, such as dice rolls, rock-paper-scissors, cards, or simply comparing a combat score.  Often these games do not have combat at all. Compare to <a href='#boffer'>Boffer Style</a>.
    </p>
        
    <h3 class="my-2"><a name='vampire'>Vampire</a></h3>
    <p>
      A genre of urban fantasy larps set in the World of Darkness milieu created by White Wolf in the 1990s. Vampire larps are generally BYOC theater-style games (mechanics can be found under the name “Mind’s Eye Theater”) with some player-generated conflict among characters (see PVP) expected as part of play. Often, vampire larps are maintained as ongoing campaigns by larger organizations that link them in a kind of persistent universe.
    </p>
        
    <h3 class="my-2"><a name='workshop'>Workshop Game</a></h3>
    <p>
      Workshop games generally have no pre-written characters, or minimally pre-written.  A portion of the game time (usually at the outset) is used to engage the players in the creation of characters and connections between them.  The level of structure given to this process by the writers varies.  Both <a href='#byoc'>BYOC</a> and Workshop are contrasted against the default assumptions of <a href='#litform'>Litform</a>
    </p>
  </div>
</div>

  