---
name: Larps
admin_notes: Work in progress
skip_clickwrap_agreement: false
hidden_from_search: false
---
{% assign proposal_chair = convention.staff_positions_by_name.proposal_chair %}
<h1 class="my-3">Larps at Intercon - WORK IN PROGRESS</h1>
<div class="row">
  <div class="col-md-3">
    <ul class="section-nav sticky-top">
      <li class="toc-entry"><a href="#annual">Annual Social Events</a>
        <ul>
          <li class="toc-entry"><a href="#friday">Friday Night Party</a></li>
          <li class="toc-entry"><a href="#saturday">Saturday Night Dance</a></li>
          <li class="toc-entry"><a href="#raffle">Raffle and Plugs</a></li>
        </ul>
      </li>
      <li class="toc-entry"><a href="#other">Other Social Events</a>
        <ul>
          <li class="toc-entry"><a href="#yourevent">Your Event Here!</a></li>
        </ul>
      </li>
    </ul>
  </div>
  <div class='col'>


<p class="lead">
Intercon is first and foremost a larp convention.  Last year, over 100 seperate larps ran at Intercon, in wildly diverse genres.  When we're not playing larps, we are talking about larp, both <a href="{% page_url forum%}">formally</a> and <a href="{% page_url social%}">informally</a>
</p>

<h2 class="my-3"><a name="annual">What Kind of Larps</a></h2>

<h3 class="my-2"><a name="friday">Friday Night Party</a></h3>
<p>After games wrap up on Friday night, we host a social event in function space, near the con suite.  The theme of this event changes every year, and has not yet been chosen for Intercon S.
</p>

<h3 class="my-2"><a name="saturday">Saturday night dance</a></h3>
<p>Every year on Saturday around midnight, we have a dance in Tiverton.</p>

<h3 class="my-2"><a name="raffle">Raffle and Plugs</a></h3>
<p>On Sunday, in the early afternoon, gather with us for the annual Raffle and Plugs.  We'll be running the raffle itself, and giving out lots of wonderful prizes, and, if you have an larp event or item to plug, come talk to us about it.  There will be a signup sheet at ops if you want to make a plug.
</p>
<h2 class="my-3"><a name="other">Other Social Events</a></h2>
<h3 class="my-2"><a name="yourevent">Your Event Here</a></h3>
<p>Want to run a meetup for your larp organization?  <a href="mailto:{{ hospitality.email }}">Drop us a line!</a></p>
</div>
</div>