---
name: Nat debugs an image he uploaded
skip_clickwrap_agreement: false
hidden_from_search: true
---
<h1>Straight up file_url:</h1>

{% file_url "interconu-web-480.png" %}

<h1>file_url in a partial:</h1>

{% include 'nat_image_debug' %}

<h1>conintro:</h1>

{% include 'conintro' %}