---
name: Proposal Committee Procedures
admin_notes: ''
skip_clickwrap_agreement: false
hidden_from_search: false
---
{% assign proposal_chair = convention.staff_positions_by_name.game_proposals_chair %}
<h1 class="my-3">Welcome to the Intercon Proposal Committee!</h1>
<div class="row">
  <div class="col-md-3">
    <ul class="section-nav sticky-top" style="top:72px">
      <li class="toc-entry"><a href="#goal">Our Goal</a></li>
      <li class="toc-entry"><a href="#responsibilities">Responsibilities</a>
        <ul>
          <li class="toc-entry"><a href="#evaluate">Evaluate Proposals</a></li>
          <li class="toc-entry"><a href="#solicit">Solicit Proposals</a></li>
          <li class="toc-entry"><a href="#outside">What's outside the scope?</a></li>
        </ul>
      </li>
      <li class="toc-entry"><a href="#process">Process</a>
        <ul>
          <li class="toc-entry"><a href="#fasttrack">Fast Tracking Proposals</a></li>
        </ul>
      </li>
    </ul>
  </div>
  <div class='col'>


<h2 class="my-3"><a name='goal'>Our goal</a></h2>
<p class='lead'>
The goal of the Proposal Committee is to solicit and select the best possible slate of games for the upcoming convention.
</p>

<h2 class="my-3"><a name='responsibilities'>Responsibilities of the Proposal Committee</a></h2>
<h3 class="my-2"><a name='evaluate'>Evaluate game proposals for the con, as they come in</a></h3>
<p>As proposals come in, the Proposal Chair will notify the Committee about new 
submissions. They will appear on the con website, on the <a href="/admin_event_proposals">Admin Event Proposals</a> page. Read through them. Look at each proposal coolly and objectively. Ask yourself: 
</p><ul>
<li>
  Is it a game that people will enjoy? 
</li>
<li>
  Is it an interesting game? 
</li>
<li>
  Is this a game that helps to create a rich and varied mix of games at the con? 
</li>
<li>
  Is it a game that fits logistically with the Intercon environment? (<i>e.g. </i>A game for 100 probably doesn't fly.) 
</li>
<li>
  Is this a game that will appeal to the typical Intercon audience? How about attracting new audiences?
</li>
<li>
  Is the author known? Do they have a track record? Is it a good one? Has this author proposed games for Intercons before? Have they pulled their proposals? 
</li>
<li>
  Is the author new? We want to encourage new authors. 
</li>
<li>
  Can we schedule the game reasonably based on the desired duration? (<i>e.g. </i>A weekend-long game is harder to schedule and fill than a 4 hour game.) As mentioned below, don't worry about if it fits into the current schedule for the convention.
</li>
<li>
  Will the game bring people into the con? 
</li>
    <li>
       Is the game adequately described? After reading it, do you have questions about the game, how it is organized, or how it will be run?
    </li>
    <li>
       Is the game’s public description clear and evocative? Does it give a reasonable impression of what players will be doing during the game? Will it “find its audience” by attracting enough people to play it?
    </li>
</ul>
<p>
  Raise any questions or objections you might have with the rest of the proposal 
committee. Tell us why you advise yes, no, or can't tell yet on the game. Be 
explicit in your reasons. Don't be shy. <b><i>These discussions MUST be 
private. They are not for public consumption, and may be 
non-politic.</i></b> If the game looks like a typical 
"we-know-it's-going-to-suck-White-Wolf-cliche", then say so. If you know the GM 
had players that walked away from a game <i>en masse</i>, or was unable to deliver their game in a previous year, then say so. It's much 
better to reject a game early and then work harder to get a better one than to 
have players gripe after the con. It is not necessary for us to accept every 
game that comes in. That said, we want to work with GM's to make their proposals
work where at all possible. If a game has potential, focus feedback on the constructive.
</p>
    <p>
      If you have some specific issue that isn't something that you're willing to put before the Proposal Committee, then please let the Proposal Chair know. It's important that all the relevant information about a game and a GM is put before the committee in some fashion. 
    </p>
    <p>
      If you are the author of the game, or one of the GMs, then please recuse yourself from advising if the game should be accepted. Feel free to answer any questions about the game, but remember, we need to talk freely and openly about the game. 
</p>
    <p>
      <b>Timeliness is important here!</b> Please try to be prompt about your responses and followups, so that we can come to consensus quickly. We expect to respond to the submitter within 4 weeks.  Proposal Committee discussions of a proposal should be wrapped up within at most 2 weeks.
    </p>
    <p>
<b>The Proposal Chair <i>must</i> be the conduit for raising the questions with the GMs, if there are any that come up in discussions.</b> It's better if we have one voice doing the asking, instead of a potential GM being bombarded from several of us at once. The Proposal Chair may choose to delegate the conduit responsibility for a specific GM to one of you, if it makes sense. 
</p>
    <p>
There's also a consideration, less common but occasionally important, about whether the game and/or GMs are going to cause problems for the convention. GMs who are known to be a major pain in the ass to work with should be looked at skeptically. 
</p><p>
Historically, we tend to err on the side of giving games a chance. That's allowed one or two bad LARPs to get through, but it's also given a lot of new GMs a chance to stretch themselves. This is generally the right attitude. That said, if we do have strong reason to suspect that the game <i>is</i> going to be bad, then we need to seriously consider whether it should run at Intercon.
</p>

<h3 class="my-2"><a name='solicit'>Solicit game proposals for the con from GMs</a></h2>
<p>
Point potential GMs at the <a href="{% page_url new-proposal %}">Propose an Event</a> link.
</p><p>
While it is the responsibility of everyone on the con staff to do this recruiting, we are the people who have to know what the con is looking for and what we've already seen. As such, we're in the best position to be proactive about the process. We each have contacts and connections in various places. Use them. It's up to us to reach out to those contacts and find games for the con. 
</p>
    <p>
    The personal touch works well: if you have played in and enjoyed a game, suggest that the GM(s) run it at Intercon; or, if you hear that someone is working on a new game, ask if they are thinking of running it at Intercon. If they come up with questions that you can’t answer, direct them to the website, or have them email the {{proposal_chair.name}} at {{proposal_chair.email_link}}.
    </p>
    <p>
      The benefits of running games at Intercon also make for good discussion points:
      <ul>
        <li>Promotion, via the Intercon website and related word-of-mouth.</li>
        <li>A hotel venue, where the space and the time their game can be run has all been arranged (and paid!) for.</li>
        <li>An audience, a large group of enthusiastic larpers from which to recruit players for their game.</li>
        <li>If your game is accepted, you will receive one or more free comped admissions to the convention. These can be used by the GMs, their co-GMs, or even their friends.</li>
    </ul>
    </p>
    <p>
Please let the  {{proposal_chair.name_with_email_link}} know who you're contacting, if you don't CC them on 
any solicitation email. The Proposal Chair will keep a master list of contacts, so that 
we know the state of our efforts and don't duplicate efforts.

</p>

<h3 class="my-2"><a name='outside'>What's NOT the Responsibility of the Proposal Committee</a></h3>
<p>
Each game should be evaluated on its own merits. Whether or not the game 
actually fits into the current con schedule should <i>not</i> be a 
consideration. Whether or not a game actually fits into the current con function 
space allotment should <i>not</i> be a consideration. These are important 
considerations, but time and space may be more fluid than are apparent. There 
may be alternatives that allow a game to fit into the schedule. That's best left 
to the Scheduling Committee (Proposal Chair, GM Liaison, the Hotel Liaison, Panel Coordinator, and the Con Chair) to 
figure out.  Scheduling is typically done in October, a few weeks before game registration.
A notable exception to this is small games (~15 or fewer players) that request large spaces during
prime time slots (Fri night, Sat afternoon, Sat night). If the game has size OR timing flexibility, no
problem. If it's not flexible on either of those axes, we may need to give the game only provisional
acceptance, because of space and player slot limitations.

<!------------------------------------------------------------------------>

</p>
<h2 class="my-3"><a name='process'>Process</a></h2>
<p>
The Proposal Chair will inform the Proposal Committee that it's time to discuss a specific game or set of games. Email discussing the game should be sent to the entire Proposal Committee. The Proposal Chair will encourage the committee to find a consensus. 
</p><p>
Once the Committee has evaluated a game, the Proposal Chair will pass the recommendation to the Con Chair for final approval. The Proposal Chair will also let the Con Chair know about any proposals we reject. In the end, it's the Con Chair's final call, although it's highly doubtful that the Con Chair would go against our suggestions. Please let the Proposal Chair be the conduit here as well. The Con Chair has a lot on their plate; it's best if there's a single channel for Proposal Committee communications. 
</p><p>
When a game proposal is accepted or rejected, the proposal Chair will send a note to the GM informing them of the decision, copying the GM Liaison. At that point, the GM Liaison takes over the process of managing the game for the con. Our job, as the Proposal Committee, is done for that game.

</p>
<h3 class="my-2"><a name='fasttrack'>Fast-tracking Proposals</a></h3>
<p>
There may be times when a game needs to be fast-tracked.  Fast-tracking must be a consensus between the Proposal Chair and Con Chair.  In those cases, the Proposal Chair is the representative of the Proposal Committee, and should inform the Proposal Committee about the game as soon as possible.  Fast-tracking should only be used when there's extreme time pressure and the Proposal Committee cannot be convened.</p>
</div>
</div>