---
name: Larp Proposal FAQ
admin_notes: ''
skip_clickwrap_agreement: false
hidden_from_search: false
---
{% assign con_chair = convention.staff_positions_by_name.con_chair %}
{% assign proposal_chair = convention.staff_positions_by_name.game_proposals_chair %}
<h1 class="my-3">Larp Proposal FAQ</h1>

<div class="row">
  <div class="col-md-3">
    <ul class="section-nav sticky-top" style="top:72px">
      <li class="toc-entry menu-header" style='display:none'>
        <h4>Larp Proposal FAQ</h4>
      </li>
      <li>
        <a href="{% page_url new-proposal %}" class="btn btn-secondary ms-4 mb-4">Back to propose an event</a>
      </li>
      <li class="toc-entry"><a href="#intercon">What is Intercon? Why would I want to run a game there?</a></li>
      <li class="toc-entry"><a href="#audience">What kind of larpers come to Intercon?</a></li>
      <li class="toc-entry"><a href="#gameKind">What kind of larps are you looking for?</a></li>
      <li class="toc-entry"><a href="#notJustNew">Are you only looking for new games?</a></li>
      <li class="toc-entry"><a href="#conTheme">Does my game have to fit into the con theme?</a></li>
      <li class="toc-entry"><a href="#newAuthors">What if I've never written a game before?</a></li>
      <li class="toc-entry"><a href="#gameSize">What size games are you looking for?</a></li>
      <li class="toc-entry"><a href="#smallGames">Are you really interested in small games?</a></li>
      <li class="toc-entry"><a href="#bigGames">Are you interested in really big games?</a></li>
      <li class="toc-entry"><a href="#gameLength">What length games are you looking for?</a></li>
      <li class="toc-entry"><a href="#playerAges">How old are players at Intercon?</a></li>
      <li class="toc-entry"><a href="#scheduling">How do you schedule games at the con?</a></li>
      <li class="toc-entry"><a href="#fourHourSlots">Do I have to write a four hour game, to fit into your schedule slots?</a></li>
      <li class="toc-entry"><a href="#gameSpace">What kind of space can I get for my game at a hotel?</a></li>
      <li class="toc-entry"><a href="#nonPrewrittenGame">Does my LARP need to have prewritten characters?</a></li>
      <li class="toc-entry"><a href="#campaignGame">I run a very successful campaign game. Can I bring an episode of my game to the con?</a></li>
      <li class="toc-entry"><a href="#weirdGame">My game is really weird, unlike any game I've ever seen before. Are you interested?</a></li>
      <li class="toc-entry"><a href="#restrictions">My game has strong and challenging themes that might be offensive to some, or can't be played by some people because of physical requirements, or is only for adults. Are you interested?</a></li>
      <li class="toc-entry"><a href="#acceptanceRate">Do you accept every proposal you get?</a></li>
      <li class="toc-entry"><a href="#notAGame">Can I propose an event that's not a game?</a></li>
    </ul>
  </div>
  
  <div class="col">
    <section class="mt-4">
      <h3 class="my-2"><a name="intercon">What is Intercon? Why would I want to run a game there?</a></h3>
      <p>Intercon is the premiere LARP convention, running games of as many different and varied genres as we can find. Intercon attracts LARPers and LARP writers from all around the world. We're the largest multi-genre LARP convention in the world.</p>
    </section>

    <section class="mt-4">
      <h3 class="my-2"><a name="audience">What kind of larpers come to Intercon?</a></h3>
      <p>We get a very diverse crowd of larpers. For some, this is their first experience with LARPs. For others, they've been playing games for decades. Some have been writing games for that long. Our players enjoy a variety of game styles, including theater-style, live combat ("boffer"), and experimental art games.</p>
      <p>
        We get a lot of great larpers. Generally, they're looking for games with strong characterization, with lots of plot and great storylines. These are people who aren't just looking to stand around and wait for the GM to direct the action. These are players that want to create memorable scenes, dramatic or comedic. They want to immerse themselves in their roles. Many of these players like to costume to the hilt. It's not an easy group to write for, because they have a lot of gaming experience, but the results can be very satisfying.
      </p>
    </section>

    <section class="mt-4">
      <h3 class="my-2"><a name="gameKind">What kind of larps are you looking for?</a></h3>
      <p>All kinds. Light, dark, serious, silly, short, or long, we need a mix of games for the convention. We're looking for murder mysteries, science fiction, high fantasy, historical set pieces, theater style, live combat, and just about any other genre you could name. We're looking for something that isn't already on our schedule, and we're willing to run experimental games, too.</p>
      <p>Ask ten larpers what larp is about and you'll get thirteen different answers. We're trying to find interesting games that satisfy as many of those possibilities as we can.</p>
    </section>

    <section class="mt-4">
      <h3 class="my-2"><a name="notJustNew">Are you only looking for new games?</a></h3>
      <p>No. If you have a game that's been run successfully before, we're interested. Some of our favorite games have run many times, at other Intercons, privately, or both.</p>
    </section>

    <section class="mt-4">
      <h3 class="my-2"><a name="conTheme">Does my game have to fit into the con theme?</a></h3>
      <p>No. Every year, the con comes up with a marketing theme or two.  Intercon D had a theme of <i>deja vu</i>. Intercon C "celebrated a century of LARP", Intercon B had a theme of "B movies", and so on.  We use this theme in our advertising.  If your game fits into the theme naturally, that's great! We may try to use it specially in our advertising.  If your game doesn't fit the theme, it will not factor into our decision processes.  We look at all games on their own merits.</p>
    </section>

    <section class="mt-4">
      <h3 class="my-2"><a name="newAuthors">What if I've never written a game before?</a></h3>
      <p>Intercon encourages new writers to propose games. While many of the names on the schedule may be familiar, there are always new authors as well. We look for new writers, because we know what's involved in the process. We know that those familiar writers had to start somewhere. Having a great group of players to play in the game also helps new games succeed.</p>
    </section>

    <section class="mt-4">
      <h3 class="my-2"><a name="gameSize">What size games are you looking for?</a></h3>
      <p>We are looking for games of different sizes, all as part of the mix. We've had games as small as 4 players and as large as 50+ players. Most of  the games at the con range from 20 to 40 players. Some games have fixed sizes. (<i>e.g. </i>a game needs 24 players) Some games are more flexible. (<i>e.g. </i>a game can take from 20 to 30 players.)</p>
    </section>

    <section class="mt-4">
      <h3 class="my-2"><a name="smallGames">Are you really interested in small games?</a></h3>
      <p>Sure. We've run games for four and six players before. Be advised that if your game is small (15 players or fewer especially) AND requires a lot of space (multiple rooms) AND can only run during "prime time," (Fri night, Sat afternoon, Sat night), it may be difficult to schedule, but we will work with you as best we can.</p>
    </section>

    <section class="mt-4">
      <h3 class="my-2"><a name="bigGames">Are you interested in really big games?</a></h3>
      <p>That depends on your definition of big. The New England Intercons typically attract more than 400 people, all looking for an intense experience. That typically means they are looking for a more intimate game experience. Games of 20 to 40 people generally do very well. Because we always have a great selection of games, players have tough choices to make when signing up. There's a lot of competition in every time slot. We try to do our best to make all of the games successful, but it can be difficult for games needing more than 40 players to get enough players.</p>
    </section>

    <section class="mt-4">
      <h3 class="my-2"><a name="gameLength">What length games are you looking for?</a></h3>
      <p>A typical game at Intercon runs for between two and four hours, but we're open to games that run from five minutes to those that run for a full day.  Longer games, spanning multiple "slots" will be scheduled early (Thursday/early Friday) or late (Sunday)</p>
    </section>

    <section class="mt-4">
      <h3 class="my-2"><a name="playerAges">How old are players at Intercon?</a></h3>
      <p>We have players as young as 8 who play games at Intercon.  We ask that all games list their age restrictions in the game description, both to avoid signups by players who are too young for the content in your game and to help young players and their guardians in finding appropriate games to play. If you set a minimum age in the system, players who are underage will be specifically labeled as such in the GM's view of the player list, but they WILL still be able to sign up, so exceptions can be made on a case-by-case basis.</p>
    </section>

    <section class="mt-4">
      <h3 class="my-2"><a name="scheduling">How do you schedule games at the con?</a></h3>
      <p>There are twelve primary time slots used to schedule games. We try to schedule games to give the most choices to the players.</p>

      <div class='table-responsive'>
        <table class='table table-striped table-sm'>
          <tbody>
            <tr>
              <th valign="top" align="middle">Day</th>
              <th valign="top" align="middle">Slot start time</th>
              <th valign="top" align="left">Typical game length in this slot</th>
            </tr>
            <tr>
              <th valign="center"rowspan="2">Thursday</th>
              <th>8 PM</th>
              <td>4 hours.  We have a limited selection of rooms at this time, so we do not schedule as many games. We also like to stagger a few shorter games during this block, as Panels are typically also running.</td>
            </tr>
            <tr>
              <th>Midnight</th>
              <td>Up to 3 hours, although 2 is preferred.</td>
            </tr>

            <tr>
              <th valign="center"rowspan="4">Friday</th>
              <th>9 AM</th>
              <td>4 hours.  We have a limited selection of rooms at this time, so we do not schedule as many games.</td>
            </tr>
            <tr>
              <th>2 PM</th>
              <td>4 hours.  We have a limited selection of rooms at this time, so we do not schedule as many games.  We also like to stagger a few shorter games during this block, as Panels are typically also running.</td>
            <tr>
              <th>8 PM</th>
              <td>4 to 6 hours, although games can run longer if the players are willing to stay up that late.</td>
            </tr>
            <tr>
              <th>Midnight</th>
              <td>Up to 3 hours, although 2 is preferred.    Some games have run even later into the night, but most players want to get up in the morning to play</td>
            </tr>

            <tr>
              <th valign="center"rowspan="4">Saturday</th>
              <th>9 AM</th>
              <td>4 hours. This slot is followed by an hour for lunch, so games can run longer. Games also have the option of starting earlier.</td>
            </tr>
            <tr>
              <th>2 PM</th>
              <td>4 hours. This slot is followed by a two hour dinner break. Games have run into the dinner slot in the past.</td>
            <tr>
              <th>8 PM</th>
              <td>4 to 6 hours, although games can run longer if the players are willing to stay up that late.</td>
            </tr>
            <tr>
              <th>Midnight</th>
              <td>
                Up to 3 hours, although usually shorter. Some games have run even later into the night, but most players want to party, to socialize, or just to get up in the morning to check out or to play.
              </td>
            </tr>

            <tr>
              <th valign="center"rowspan="3">Sunday</th>
              <th>9 AM</th>
              <td>4 hours.  We often schedule a number of 2 hour games during this slot, some at 9am and some at 11am.</td>
            </tr>
            <tr>
              <th>2 PM</th>
              <td>4 hours. This is a great slot for pickup games.</td>
            </tr>
            <tr>
              <th>Later</th>
              <td>2 to 4 hours. Most people leave the con sometime Sunday afternoon, but there are always a few people who stay overnight at the hotel on Sunday night. Occasionally we'll put a game or two on the schedule for later on Sunday, but it's not something you should count on.</td>
            </tr>
          </tbody>
        </table>
      </div>

      <p>The proposal form asks you to rank the slots you'd prefer for running your game. We try our best to give you your preferred slot, but it isn't always possible. Scheduling the con is always an interesting puzzle. The more flexible you are and the more choices you give us for scheduling makes it easier for us to put that puzzle together.</p>

      <p>We also have to consider the time and effort that are needed to tear down a game and set up the next one. Some games require significant setup, and the time for that setup has to be factored into the schedule.</p>
    </section>

    <section class="mt-4">
      <h3 class="my-2"><a name="fourHourSlots">Do I have to write a four hour game, to fit into your schedule slots?</a></h3>
      <p>No. It's true that most of our game slots are four hours long. While it helps if your game fits nicely into one of our slots, it's not absolutely necessary. Most successful Intercon games fit into a single slot.</p>

      <p>Two hour games are quite common. Clearly two of them fit nicely into a four hour slot. We try to pack slots in order to maximize player options.</p>

      <p>Games up to about six hours can fit into the Thursday, Friday, and Saturday night slots. Friday games may be able to run even later, stretching to seven hours, if the players are willing to stay up.</p>

      <p>Games that are even longer must span more than one slot. Intercon will schedule a <i>strong</i> game across more than one slot. However, if a game spans just two slots, it means that game must compete for players with as many as <i>twenty-five to thirty</i> other games. We always schedule a lot of great games opposite each other. That means players must choose between playing in a multislot game or in two (or more) single slot games. It takes a special game and special writers to meet that challenge. We want the games at the con to be a success, able to attract the number of players they need. It's why we encourage games that fit into a single slot.</p>
    </section>

    <section class="mt-4">
      <h3 class="my-2"><a name="gameSpace">What kind of space can I get for my game at a hotel?</a></h3>
      <p>The Crowne Plaza has <a href="{% page_url hotel/layout %}" target="_blank">great function space</a>, and we take almost all of it. We also fill it up. <i>We can typically guarantee one function space room per game</i>. If you need more than that, we may be able to make it work, depending on the size of your game. This does limit us, but we encourage GMs to think creatively, as we know you can.</p>

      <p>We also need to know what special spatial needs you may have beyond enough room for your players. This includes things like a need for high ceilings, making sure that any delicate furniture is out of the way, the desire for a small secondary room for side activities, or specific traffic flow demands. We'll do what we can to give you a workable space. However, be aware that we do fill up all the function space in the hotel, and you have to share with six or seven other games. It may not be physically possible to give you the ideal space.</p>
      
      <p>More details about the hotel's function space are available in the <a href="https://docs.google.com/document/d/1l46enA3-oIpZ0mOUUgA1SEL4Bi7iSeP0eibT3c3x3bk/edit" target="_blank">Hotel FAQ</a>.</p>
    </section>

    <section class="mt-4">
      <h3 class="my-2"><a name="nonPrewrittenGame">Does my LARP need to have prewritten characters?</a></h3>
      <p>"Workshop"-style games, where aspects of characters or relationships are built by players at game time, have become more popular over the past decade and are well loved at Intercon. In these games, a writer has typically provided a number of very brief character concepts fitting within the world and themes of the LARP that players flesh out together, and/or core questions to answer.</p>

      <p>"Bring your own character" games, however, where a player creates a detailed character on their own as they might in a campaign LARP or D&D, are less likely to be accepted since players at Intercon typically favor more interrelated characters and plots. This doesn't mean that we won't accept these kinds of games - but they are less likely to get through the proposal process. One solution is to have a deadline for character submission well before the con, so that you can take the characters and build them into the game.</p>
    </section>

    <section class="mt-4">
      <h3 class="my-2"><a name="campaignGame">I run a very successful campaign game. Can I bring an episode of my game to the con?</a></h3>
      <p>If you're going to bring a lot of your usual players, then sure. It's harder asking a lot of new players to come into an existing campaign, unless you really have something special for the episode. It has to be something that's going to excite others, in a way that doesn't require the new players to know all sorts of background material. The new players also have to feel like equals to those who have been playing a long time. It's not a lot of fun to come into a game where there is a clique of players who outclass you in every way.</p>
    </section>

    <section class="mt-4">
      <h3 class="my-2"><a name="weirdGame">My game is really weird, unlike any game I've ever seen before. Are you interested?</a></h3>
      <p>We're always looking for interesting games. If you can sell the Proposal Committee on the game, it's likely you'll get players, no matter how strange the game. In fact, many players have told us that they come to Intercon just to play games that aren't like the ones they usually play with their local group. We're looking for unique games, and we do our best to see that they'll be successful.</p>
    </section>

    <section class="mt-4">
      <h3 class="my-2"><a name="restrictions">My game has strong and challenging themes that might be offensive to some, or can't be played by some people because of physical requirements, or is only for adults. Are you interested?</a></h3>
      <p>Yes. Intercon does not shy away from challenging games. Almost all Intercon attendees are adults, and we let them choose the games that are right for their sensibilities and capabilities. We look for games that push the envelope. We do understand that some game efforts are not for everyone. We try to make that clear up front by the game descriptions you provide. There are questions in the proposal form specifically for these cases; the details are important, so please be explicit.  That being said, we are unlikely to accept games that do any of the following:</p>
      <ul>
        <li>Trivialize the held beliefs of a minority culture</li>
        <li>Exploit the pain and degradation of a minority group</li>
        <li>Trivialize subject matter that may be deeply offensive to attendees, i.e. child abuse</li>
      </ul>
      <p>If you have questions or concerns, please raise those concerns with the {{proposal_chair.name_with_email_link}}.</p>
    </section>

    <section class="mt-4">
      <h3 class="my-2"><a name="responsetime">How soon can I expect to hear from you?</a></h3>
      <p>The Proposal Chair will contact you soon if there are any questions about your game. We will make every effort to get back to you with a decision about your game within 4 weeks.</p>
    </section>

    <section class="mt-4">
      <h3 class="my-2"><a name="acceptanceRate">Do you accept every game proposal you get?</a></h3>
      <p>We accept most reasonable proposals, but there are usually one or two proposals that don't make it into a given con. All game proposals are <a href="{% page_url proposalfollowup %}">evaluated by the Proposal Committee</a>, using a <a href="{% page_url proposalfollowup %}">number of criteria</a>. We try to work with proposers to make all the proposals successful, but it doesn't always happen. When a proposal fails, we try to make it clear why the proposal was rejected. The most frequent reasons a proposal is rejected is because we already have a similar game scheduled, or because a proposal insists on specific time slots and the schedule is nearly full.</p>
    </section>

    <section class="mt-4">
      <h3 class="my-2"><a name="notAGame">Can I propose an event that's not a game?</a></h3>
      <p>Yes!  If you're interested in proposing a session such as a moderated discussion, a presentation, a panel discussion or a workshop, please see <a href="{% page_url forum %}">Forum@Intercon</a> for that track of content.</p>
      <p>If you're interested in proposing a social event or meetup, please see <a href="{%page_url social %}">Social Events</a> for that track of content.</p>
      <p>If you're interested in proposing a larp-like event that isn't a game, it's best to check with the {{proposal_chair.name_with_email_link}} or the {{con_chair.name_with_email_link}}.</p>
    </section>
  </div>
</div>