---
name: Role descriptions
admin_notes: ''
skip_clickwrap_agreement: false
hidden_from_search: false
---
<h1 class='my-3'>Staff Role Descriptions</h1>
<div class="row">
  <div class="col-md-3">
    <ul class="section-nav sticky-top" style="top:72px">
      <li class="toc-entry menu-header" style='display:none'>
        <h4>Staff Role Descriptions</h4>
      </li>
      <li class="toc-entry"><a href="#individual">Individual Roles</a>
        <ul>
          <li class="toc-entry"><a href="#conchair">Conchair</a></li>
          <li class="toc-entry"><a href="#gameproposalschair">Proposal Chair</a></li>
          <li class="toc-entry"><a href="#gmcoordinator">GM Coordinator</a></li>
          <li class="toc-entry"><a href="#operationscoordinator">Operations Coordinator</a></li>
          <li class="toc-entry"><a href="#roomdividercoordinator">Room Divider Coordinator</a></li>
          <li class="toc-entry"><a href="#safetycoordinator">Safety Coordinator</a></li>
          <li class="toc-entry"><a href="#hotelliaison">Hotel Liaison</a></li>
          <li class="toc-entry"><a href="#forumcoordinator">Forum@Intercon Coordinator</a></li>
          <li class="toc-entry"><a href="#attendeecoordinator">Attendee Coordinator</a></li>
          <li class="toc-entry"><a href="#volunteercoordinator">Volunteer Coordinator</a></li>
          <li class="toc-entry"><a href="#vendorliaison">Vendor Liaison</a></li>
          <li class="toc-entry"><a href="#registrar">Registrar</a></li>
          <li class="toc-entry"><a href="#treasurer">Treasurer</a></li>
          <li class="toc-entry"><a href="#advertising">Booklet / Advertisement</a></li>
          <li class="toc-entry"><a href="#outreach">Outreach</a></li>
          <li class="toc-entry"><a href="#news">Newsletter / Social Media Coordinator</a></li>
          <li class="toc-entry"><a href="#art">Art</a></li>
          <li class="toc-entry"><a href="#hospitalitycoordinator">Hospitality Coordinator</a></li>
          <li class="toc-entry"><a href="#irongmcoordinator">Iron GM Coordinator</a></li>
          <li class="toc-entry"><a href="#raffle">Raffle Coordinator</a></li>
          <li class="toc-entry"><a href="#plugs">Plugs Coordinator</a></li>
        </ul>
      </li>
          
      <li class="toc-entry"><a href="#group">Group Roles</a>
        <ul>
          <li class="toc-entry"><a href="#propcom">Proposal Committee</a></li>
          <li class="toc-entry"><a href="#safetystaff">Safety Team</a></li>
          <li class="toc-entry"><a href="#websiteteam">Website Team</a></li>
          <li class="toc-entry"><a href="#opsstaff">Operations Volunteers</a></li>
        </ul>
      </li>
    </ul>
  </div>
  <div class="col document">
    <h2 class="my-3"><a name='individual'>Individual Roles</a></h2>

    <h3 class="my-2"><a name='conchair'>Conchair</a><a name='conchair-deputy'></a></h3>
    <ul>
      <li>Oversees all aspects of the convention</li>
      <li>Is part of the post-incident response team</li>
      <li>Is on the Scheduling team</li>
      <li>Has at-con responsibilities</li>
    </ul>
    <h3 class="my-2"><a name='gameproposalschair'>Proposal Chair</a><a name='gameproposalschair-deputy'></a></h3>
    <ul>
      <li>Runs the proposal committee</li>
      <li>First point of contact for GMs proposing to run games at the convention</li>
      <li>Works with Game submitters to fix obvious issues, missing fields, etc, before the proposal goes to the committee</li>
      <li>Works with Game submitters to fix deeper issues as advised by the Proposal Committee </li>
      <li>Advises the Con Chair of the feedback from the Proposal Committee</li>
      <li>Informs GMs that their game has been accepted, and they're being handed off to the GM coordinator.  Also informs GMs if their game has been rejected.</li>
      <li>Is on the Scheduling Team</li>
    </ul>

    <h3 class="my-2"><a name='gmcoordinator'>GM Coordinator</a></h3>
    <ul>
      <li>Is the point of contact between GMs of accepted games and the convention</li>
      <li>Shares information and answers questions about convention policy and procedures with the GMs</li>
      <li>Sends out the link to the furniture request system, and works with GMs to get their data entered there.</li>
      <li>Is on the Scheduling Team</li>
    </ul>
    <h3 class="my-2"><a name='operationscoordinator'>Operations Coordinator</a></h3>
    <ul>
      <li>Runs the at-the-con operations desk</li>
      <li>Runs at-the-con check in / registration</li>
      <li>Orders shirts, badges, patches, before the convention</li>
      <li>Orders convention programs</li>
      <li>Purchases consumables for the convention</li>
      <li>Inventories Intercon/NEIL owned items</li>
      <li>Arranges transport for the NEIL-owned items between the storage unit and the con.</li>
      <li>Has at-con responsibilities - running at-the-con activities</li>
    </ul>
    <h3 class="my-2"><a name='roomdividercoordinator'>Room Divider Coordinator</a></h3>
    <ul>
      <li>Subdivision of Ops</li>
      <li>Has at-con responsibilities:
      <ul>
       <li>Makes sure room dividers get assembled on Thursday, and disassembled on Sunday</li>
       <li>Works with Ops Coordinator to ensure that periodic walkthroughs of con space happen to bring stray room dividers to the correct location</li>
      </ul>
    </ul>
    <h3 class="my-2"><a name='safetycoordinator'>Safety Coordinator</a></h3>
    <ul>
      <li>Oversees the Safety team, selects members, arranges for training</li>
      <li>Is part of the post-incident response team.</li>
      <li>Has at-con responsibilities - coordinating the safety team</li>
    </ul>

    <h3 class="my-2"><a name='hotelliaison'>Hotel Liaison</a></h3>
    <ul>
      <li>Manages the relationship with the hotel, signs the contract, etc.</li>
      <li>Colates the GM furniture requests and works with the hotel to arrange the needed items</li>
      <li>Communicates with the hotel to arrange food service</li>
      <li>Is on the Scheduling team</li>
      <li>Has at-con responsibilities - being available for hotel issues</li>
    </ul>

    <h3 class="my-2"><a name='forumcoordinator'>Forum@Intercon Coordinator</a></h3>
    <ul>
      <li>Puts together the schedule of workshops, panels, and discussions for the con</li>
      <li>Works with the Hotel Liaison to arranges for these events to have items they need</li>
      <li>Is on the Scheduling team</li>
      <li>Has at-con responsibilities - coordinating these events</li>
    </ul>

    <h3 class="my-2"><a name='attendeecoordinator'>Attendee Coordinator</a></h3>
    <ul>
      <li>Is the point of contact between attendees of the convention and the convention staff</li>
      <li>Answers inbound questions from attendees, or hands them off to the correct staffer</li>
    </ul>

    <h3 class="my-2"><a name='volunteercoordinator'>Volunteer Coordinator</a></h3>
    <ul>
      <li>Recruits volunteers for at-the-con positions</li>
      <li>Works with Artwork to design and purchase volunteer thank you items</li>
    </ul>

    <h3 class="my-2"><a name='vendorliaison'>Vendor Liaison</a></h3>
    <ul>
      <li>Finds and arranges vendors for the convention</li>
      <li>Collects vendor fees for space and games.</li>
      <li>Designs the layout of the vendor area</li>
      <li>Handles vendor questions before the convention.</li>
      <li>Has at-con responsibilities - directing vendors, answering questions</li>
    </ul>

    <h3 class="my-3"><a name='registrar'>Registrar</a></h3>
    <ul>
      <li>Handles registrations and issues with them, including vendor badges, comps that need manual processing, and other registration issues</li>
      <li>Handles refund and rollover requests</li>
    </ul>

    <h3 class="my-2"><a name='treasurer'>Treasurer</a></h3>
    <ul>
      <li>Appointed by the NEIL board; not an individual con position</li>
      <li>Handles money for the convention</li>
      <li>Has access to the bank account and the Paypal/Stripe/Square/etc. accounts</li>
      <li>Processes reimbursements for items purchased by other convention staff</li>
      <li>Pays deposits, etc, to the hotel</li>
    </ul>

    <h3 class="my-2"><a name='advertising'>Booklet / Advertisement</a></h3>
    <ul>
      <li>Designs and lays out the convention program book</li>
    </ul>

    <h3 class="my-2"><a name='outreach'>Outreach</a></h3>
    <ul>
      <li>Promotes the convention outside of the existing community</li>
      <li>This role is not always a specific person</li>
    </ul>

   <h3 class="my-2"><a name='news'>Accessibility Coordinator</a></h3>
    <ul>
      <li>Survey the community to identify accessibility needs</li>
      <li>Work with con chair to prioritize accessibility needs to be met this year</li>
      <li>Coordinate across divisions to meet accessibility needs for GMs and players</li>
      <li>Coordinate with the hotel as needed to implement accessibility plans</li>
    </ul>
    
    <h3 class="my-2"><a name='news'>Newsletter / Social Media Coordinator</a></h3>
    <ul>
      <li>Puts together communications to attendees based on input from other members of Intercon staff</li>
      <li>Works with the con chair to determine the best media for each communication (newsletter post, facebook, twitter, etc)</li>
      <li>Manages Intercon's social media presence</li>
    </ul>

    <h3 class="my-2"><a name='art'>Artwork</a></h3>
    <ul>
      <li>Designs the artwork for the convention: website, badges, patches, other items.</li>
      <li>Works with Booklet on design/layout from an art perspective</li>
    </ul>

    <h3 class="my-2"><a name='hospitalitycoordinator'>Hospitality / Party Coordinator</a></h3>
    <ul>
      <li>Arranges the Friday night party</li>
      <li>Arranges the Saturday night dance</li>
      <li>Is the point of contact for people who want to run parties/meetups/etc in convention spaces</li>
      <li>Works with the Scheduling team to schedule parties/meetups/etc and add them to the schedule</li>
      <li>May have at-con responsibilities to run parties</li>
    </ul>

    <h3 class="my-2"><a name='irongmcoordinator'>Iron GM Coordinator</a></h3>
    <ul>
      <li>Appointed by the NEIL board; not an individual con position</li>
      <li>Recruits Writing Teams and Readers for the Iron GM competition</li>
      <li>Arranges for the writing weekend</li>
      <li>Picks themes for the Iron GM competition</li>
      <li>Runs the game judging, and announces the winners</li>
    </ul>

    <h3 class="my-2"><a name='raffle'>Raffle Coordinator</a></h3>
    <ul>
      <li>Reaches out to various people in advance of the convention to solicit raffle items</li>
      <li>tracks donations, ensures they arrive at Ops and are properly labeled</li>
      <li>Works with Advertising to track ads for the booklet</li>
      <li>Coordinates with con chair to arrange membership exchanges with other cons</li>
    </ul>

    <h3 class="my-2"><a name='plugs'>Plugs Coordinator</a></h3>
    <ul>
      <li>Collects shameless plugs for the raffle plugs</li>
      <li>Runs the plugs, manages the clock, etc.</li>
      <li>Has at-con responsibilities - running plugs</li>
    </ul>

    <hr>

    <h2 class="my-3"><a name='group'>Group Roles</a></h2>
    <h3 class="my-2"><a name='propcom'>Proposal Committee</a></h3>
    <ul>
      <li>Gives feedback on each proposed proposal, helping set up the GMs to make their event as successful as possible </li>
      <li>Does not reach out to the submitting GMs, except if asked to by the Proposal Chair.</li>
    </ul>

    <h3 class="my-2"><a name='safetystaff'>Safety Staff</a></h3>
    <ul>
      <li>Reports up to the Safety Coordinator</li>
      <li>Provides at-large safety response for the convention.</li>
      <li>Has at-con responsibilities</li>
    </ul>

    <h2 class="my-2"><a name='websiteteam'>Website Team</a></h2>
    <ul>
      <li>Dev side - Responsible for developing and maintaining the website</li>
      <li>Ops side - Responsible for running the website and maintaining the email aliases </li>
    </ul>

    <h3 class="my-2"><a name='opsstaff'>Operations Volunteers</a></h3>
    <ul>
      <li>Helps out the Operations lead before or during the convention</li>
      <li>Reports up to the Operations lead</li>
      <li>Before - helps with item transport, ordering, etc</li>
      <li>During - staffs the Ops desk and helps with check in, answers questions, and escalates issues appropriately </li>
      <li>Has at-con responsibilities</li>
    </ul>
  </div>
</div>