---
name: Room Availability
skip_clickwrap_agreement: false
hidden_from_search: false
---
<h1 class="my-3">Desired times for new larps</h1>
For all of the spaces below, we are looking for non-boffer games. Please note that boffer-safe space is very limited at this time, and we probably cannot accept any more boffer games at all.
<h2 class="my-3">Friday</h2>
<h3 class="my-2">Morning</h3>
        <ul class="unstyled">
          <li>1 &ndash; large room which can take 20-50 player game, and is boffer-safe</li>
        </ul>
<h3 class="my-2"> Afternoon</h3>
        <ul class="unstyled">
          <li>No space available</li>
        </ul>
<h3 class="my-2"> Evening</h3>
        <ul class="unstyled">
          <li>1 &ndash; Intercon rented hotel room (no one will be staying in this room)</li>
          <li>1 &ndash; boardroom with a large table and chairs; set up for meetings etc.</li>
        </ul>
<h2 class="my-3">Saturday</h2>
<h3 class="my-2">Morning</h3>
        <ul class="unstyled">
          <li>No space available</li>
        </ul>
<h3 class="my-2">Afternoon</h3>
        <ul class="unstyled">
          <li>No space available</li>
        </ul>
<h3 class="my-2">Evening</h3>
        <ul class="unstyled">
          <li>1 &ndash; rooms that can fit 10-15 players</li>
          <li>2 &ndash; boardrooms with a large table and chairs; set up for meetings etc.</li>
          <li>1 &ndash; Intercon rented hotel room (no one will be staying in this room)</li>
        </ul>
<h2 class="my-3">Sunday</h2>
<h3 class="my-2">Morning</h3>
        <ul class="unstyled">
          <li>2 &ndash; parlor rooms available – come with sofas and some furnishings standard already 2 boardroom games - only for a 2 hour game starting at 9am</li>
          <li>2 &ndash; boardrooms with a large table and chairs; set up for meetings etc - all morning</li>
          <li>6 &ndash; rooms that each can fit 15-35 players - 2 all morning, 4 only for a 2 hour game starting at 9am</li>
          <li>2 – rooms which can each fit a 10-20 player games - only for a 2 hour game starting at 9am</li>
          <li>1 &ndash; Intercon rented hotel room (no one will be staying in this room) - only for a 2 hour game starting at 9am</li>
        </ul>
<h3 class="my-2">Afternoon</h3>
        <ul class="unstyled">
          <li>2 – parlor rooms – come with sofas and some furnishings standard already</li>
          <li>2 &ndash; boardrooms with a large table and chairs; set up for meetings etc.</li>
          <li>2 &ndash; rooms that each could take 15-35 player games</li>
        </ul>
      