---
name: Vendors at Intercon
skip_clickwrap_agreement: false
hidden_from_search: false
---
<h1>Vendors at Intercon</h1>

<p>We will be listing vendors who will be at {{convention.name}} on this page as they are confirmed so that you can plan to come and patronize them!</p>

<p>Vendors will be located in the Plaza Foyer. <a href="/pages/hotel/layout" target="_blank">See this map of the hotel spaces.</a>.<br>
The Plaza Foyer will be a mask optional area.</p>

<p><img class="img-fluid" src="{% file_url Intercon V Vendor Spaces.png %}"" alt="Plaza Foyer vendor space map"></p>

<p>If you are interested in applying to vend at Intercon, <a href="/pages/vending-at-intercon#fees">see this information page</a>.</p>


<p><b>Vendors coming soon!</b></p>
