---
name: Volunteering
admin_notes: ''
skip_clickwrap_agreement: false
hidden_from_search: false
---
<h1 class="my-3">Volunteering</h1>
<p>Intercons are the result of the work of many people, all 
pitching in. We welcome new people; there's no experience necessary. (After all, 
many of us had never run a convention before we started.)
</p>
<p>
Whether it's an hour or two at the con or an hour or two a month leading up 
to the con, we welcome the help. You'll be working with a great group of people. 
</p>
<p>
<!--<strong>Check our list of <a href="{% page_url open-roles %}">Open Roles</a> and see if any of them sound appealing!</strong>-->
</p>
{% if propcom_form %}
<p>For {{convention.name}}, We have an <a href="{{propcom_form}}" target='_blank'>application form</a> for the Proposal Committee.
</p>
{% endif %}
<p>
Or send us a note to <a href="mailto:conchair@interactiveliterature.org?subject=%5BIntercon%5D%20Volunteer!">join the Intercon Con Committee</a>!
</p>