---
name: What's New Video - GM Edition
admin_notes: ''
skip_clickwrap_agreement: false
hidden_from_search: false
---
<h1 class="my-2">What's New - GM Overview</h1>
<div class="row justify-content-center">
<div class="embed-responsive embed-responsive-4by3 col-xl-10">
  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/HqI35RkGcZE?rel=0&showinfo=0" frameborder="1" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</div>
</div>