---
name: 0-news
admin_notes: ''
---
<ul class="list-unstyled">

<li class="media">
  <div class="media-body">
     <h5 class="mt-0">New Website <small class="text-muted">January 16, 2018</small></h5>
     <p>
      I’m very pleased to announce that Intercon S is using the new website software that Nat Budin and others have been working on for several years now.  All of the functionality of the old site that you are used to has been re-created on the new site.
     </p>
     <p>
       Here’s the biggest differences that you should be aware of:
       <ul>
<li>GMs can now divide the roles in their games into whatever set of “buckets” they would like.  On  the old site, they were limited to offering ‘Female Roles’ and ‘Male Roles’, but with the new site, they can instead offer ‘Cast’ and ‘Horde’ roles, or ‘Female’, ‘Male’, and ‘Non-gendered’, a single bucket for all characters, or any set of categories they would like.  We have some useful presets for common use cases, but you can also use the advanced option to configure how you like.</li>
<li>As a result of that, when you sign up for games, you will simply be presented with a signup button for each category of roles in the game, and can make your selection at that time.</li>
<li>GMs now use Markdown instead of HTML for formatting their game descriptions and bios.  We’ve provided links to reference guides.</li>
<li>We now use Stripe, instead of Paypal for paying for the con.  This should work properly for everyone in the US and UK, and many other countries.</li>
    </ul>
    </p>
 <p>
In addition, we have changed the way that Comps work for games.  Instead of offering 2 for every game, regardless of size, we now offer one comp to every game, and GMs can request more based on the number of player/hours of game they are providing.  For full details, see the updated <a href="{% page_url gmpolicies%}#CompedMemberships">GM Policies</a>.  If you need help with this policy, please let David Kapell, the Con Chair or Philip, the Proposal Chair know, and we’d be glad to talk you through it.
  </p>
  
  </div>
</li>

</ul>