---
name: 0-news
admin_notes: Contains just news to be displayed on the front page
invariant: false
---
<ul class="list-unstyled">
  <li class="media news-item">
  <div class="media-body">
     <h5 class="mt-0">Intercon wants your games! <small class="text-muted">June 6, 2018</small></h5>
     <p>
       Intercon is looking for more games, and we would like to encourage everyone to <a href="{% page_url new-proposal %}">Propose a larp!</a>  
    </p>
    <p>
      Please note that, as we continue to try to make Intercon more welcoming, we have recently updated our <a href="{%page_url proposalfaq%}">Proposal FAQ</a> to include the following guidance to authors and the Proposal Committee:
    </p>
    <blockquote class="blockquote" style='font-size:1rem'> 
      <p>we are unlikely to accept games that do any of the following:</p>
      <ul>
        <li>Trivialize the held beliefs of a minority culture</li>
        <li>Exploit the pain and degradation of a minority group</li>
        <li>Trivialize subject matter that may be deeply offensive to attendees, i.e. child abuse</li>
      </ul>
    </blockquote>
    <p>We understand that these guidelines are somewhat subjective, which is why we rely on a diverse Proposal Committee to advise the Con Chair about proposed games.  If you have any questions about this, please reach out to the {{convention.staff_positions_by_name.game_proposals_chair.name_with_email_link}}
  </div>
</li>
  
<li class="media news-item">
  <div class="media-body">
     <h5 class="mt-0">Explanation Videos <small class="text-muted">March 9, 2018</small></h5>
     <p>
       We now have three videos designed to demonstrate this new website, put together by Nat Budin:
       <ul>
         <li><a href="{% page_url whats-new-player %}">Overview for Players</a></li>
         <li><a href="{% page_url whats-new-gms %}">Overview for GMs</a></li>
         <li><a href="{% page_url intercode2-presentation %}">Intercode 2 presentation <small>includes details of the bucket system</a></small></li>
      </ul>
      We hope that these will clear up any confusion over the new software, but if you have any questions, please email the {{convention.staff_positions_by_name.website_team.name_with_email_link}}
    </p>
  </div>
</li>
</ul>