---
name: all-news
admin_notes: This contains all news, vs 0-news, which is just current displayed news
---
<ul class="list-unstyled">
  <li class="media news-item">
  <div class="media-body">
     <h5 class="mt-0">Intercon wants your games! <small class="text-muted">June 6, 2018</small></h5>
     <p>
       Intercon is looking for more games, and we would like to encourage everyone to <a href="{% page_url new-proposal %}">Propose a larp!</a>  
    </p>
    <p>
      Please note that, as we continue to try to make Intercon more welcoming, we have recently updated our <a href="{%page_url proposalfaq%}">Proposal FAQ</a> to include the following guidance to authors and the Proposal Committee:
    </p>
    <blockquote class="blockquote" style='font-size:1rem'> 
      <p>we are unlikely to accept games that do any of the following:</p>
      <ul>
        <li>Trivialize the held beliefs of a minority culture</li>
        <li>Exploit the pain and degradation of a minority group</li>
        <li>Trivialize subject matter that may be deeply offensive to attendees, i.e. child abuse</li>
      </ul>
    </blockquote>
    <p>We understand that these guidelines are somewhat subjective, which is why we rely on a diverse Proposal Committee to advise the Con Chair about proposed games.  If you have any questions about this, please reach out to the {{convention.staff_positions_by_name.game_proposals_chair.name_with_email_link}}
  </div>
</li>
  
<li class="media news-item">
  <div class="media-body">
     <h5 class="mt-0">Explanation Videos <small class="text-muted">March 9, 2018</small></h5>
     <p>
       We now have three videos designed to demonstrate this new website, put together by Nat Budin:
       <ul>
         <li><a href="{% page_url whats-new-player %}">Overview for Players</a></li>
         <li><a href="{% page_url whats-new-gms %}">Overview for GMs</a></li>
         <li><a href="{% page_url intercode2-presentation %}">Intercode 2 presentation <small>includes details of the bucket system</a></small></li>
      </ul>
      We hope that these will clear up any confusion over the new software, but if you have any questions, please email the {{convention.staff_positions_by_name.website_team.name_with_email_link}}
    </p>
  </div>
</li>
  
<li class="media news-item">
  <div class="media-body">
     <h5 class="mt-0">New Website <small class="text-muted">January 16, 2018</small></h5>
     <p>
      I’m very pleased to announce that Intercon S is using the new website software that Nat Budin and others have been working on for several years now.  All of the functionality of the old site that you are used to has been re-created on the new site.
     </p>
     <p>
       Here’s the biggest differences that you should be aware of:
       <ul>
<li>GMs can now divide the roles in their games into whatever set of “buckets” they would like.  On  the old site, they were limited to offering ‘Female Roles’ and ‘Male Roles’, but with the new site, they can instead offer ‘Cast’ and ‘Horde’ roles, or ‘Female’, ‘Male’, and ‘Non-gendered’, a single bucket for all characters, or any set of categories they would like.  We have some useful presets for common use cases, but you can also use the advanced option to configure how you like.</li>
<li>As a result of that, when you sign up for games, you will simply be presented with a signup button for each category of roles in the game, and can make your selection at that time.</li>
<li>GMs now use Markdown instead of HTML for formatting their game descriptions and bios.  We’ve provided links to reference guides.</li>
<li>We now use Stripe, instead of Paypal for paying for the con.  This should work properly for everyone in the US and UK, and many other countries.</li>
    </ul>
    </p>
 <p>
In addition, we have changed the way that Comps work for games.  Instead of offering 2 for every game, regardless of size, we now offer one comp to every game, and GMs can request more based on the number of player/hours of game they are providing.  For full details, see the updated <a href="{% page_url gmpolicies%}#CompedMemberships">GM Policies</a>.  If you need help with this policy, please let David Kapell, the Con Chair or Philip, the Proposal Chair know, and we’d be glad to talk you through it.
  </p>
  
  </div>
</li>

</ul>