<div class="copyright text-center"><small>
Copyright © <span id="copyright-year">2018</span> <a target='_blank' href='http://www.interactiveliterature.org/NEIL'>New England Interactive Literature</a><br>
All Rights Reserved</small>
</div> <!-- copyright-->
<script>
document.getElementById('copyright-year').innerHTML = (new Date).getFullYear();
</script>