%h1 Admin Event Proposals

%table.table.table-striped
  %thead
    %tr
      %th Title
      %th Submitted by
      %th Status

  %tbody
    - @admin_event_proposals.each do |event_proposal|
      %tr
        %td= link_to event_proposal.title, admin_event_proposal_path(event_proposal)
        %td= event_proposal.owner&.name
        %td= event_proposal.status
