---
name: Concessions
skip_clickwrap_agreement: false
hidden_from_search: false
---
<h1 class='my-3'>Concessions at Intercon</h1>
<div class="row">
  <div class="col-md-3">
    <ul class="section-nav sticky-top" style="top:72px">
      <li class="toc-entry menu-header" style='display:none'>
        <h4>Concessions</h4>
      </li>
      <li class="toc-entry"><a href="#intro">Introduction</a></li>
      <li class="toc-entry"><a href="#hours">Hours</a></li>
      <li class="toc-entry"><a href="#menu">Example Menu</a>
        <ul>
          <li class="toc-entry"><a href="#menu-breakfast">Breakfast</a></li>
          <li class="toc-entry"><a href="#menu-lunch">Lunch/Dinner</a></li>
          <li class="toc-entry"><a href="#menu-desert">Desert</a></li>
        </ul>
      </li>
  </ul>
</div>
<div class='col'>

<h2 class="my-3"><a name='intro'>Introduction</a></h2>
<p class="lead">{{convention.name}} has worked with the hotel to provide cash concessions throughout the weekend.  They are available in <a href="{% page_url hotel/layout %}">Con Suite</a>, during meal times, for cash and credit.  We try to provide a wide variety of options for our attendees.  Purchases made at the concessions help out the convention as they count against our Food and Beverage minumum required spend.
</p>
<hr>
<h2 class="my-3"><a name='hours'>Hours</a></h2>
  <div class='alert text-bg-warning'>These hours are subject to change, they represent what {{convention.name}} has asked the convention to provide, but hotel staffing may adjust these hours slightly</div>
  <div class='table-responsive'>
<table class='table table-sm table-striped'>
  <thead>
    <tr>
      <th>Day </th>
      <th>Meal </th>
      <th>Start</th>
      <th>End</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td rowspan=1 class='align-middle'>Thursday</td>
      <td>Dinner</td>
      <td>6:00 PM</td>
      <td>9:00 PM</td>
    </tr>
    <tr>
      <td rowspan=3 class='align-middle'>Friday</td>
      <td>Breakfast</td>
      <td>8:00 AM</td>
      <td>10:30 PM</td>
    </tr>
    <tr>
      <td>Lunch</td>
      <td>12:00 PM</td>
      <td>3:00 PM</td>
    </tr>
    <tr>
      <td>Dinner</td>
      <td>5:30 PM</td>
      <td>9:00 PM</td>
    </tr>
    <tr>
      <td rowspan=3 class='align-middle'>Saturday</td>
      <td>Breakfast</td>
      <td>8:00 AM</td>
      <td>10:30 PM</td>
    </tr>
    <tr>
      <td>Lunch</td>
      <td>12:00 PM</td>
      <td>3:00 PM</td>
    </tr>
    <tr>
      <td>Dinner</td>
      <td>5:30 PM</td>
      <td>9:00 PM</td>
    </tr>
    <tr>
      <td rowspan=2 class='align-middle'>Sunday</td>
      <td>Breakfast</td>
      <td>8:00 AM</td>
      <td>10:30 PM</td>
    </tr>
    <tr>
      <td>Lunch</td>
      <td>12:00 PM</td>
      <td>3:00 PM</td>
    </tr>
  </tbody>
</table>
</div>
<hr>
<h2 class="my-3"><a name='menu'>Example Menu</a></h2>
  <div class='alert text-bg-warning'>These menus are based on information provided by the hotel ahead of the convention, and actual options and pricing may differ, based on supply and availability.</div>
  <p>
    Gluten Free options available and will be clearly marked at the concessions. Cash and Card accepted
  </p>

<h3 class="my-2"><a name='menu-breakfast'>Breakfast</a></h3>
  <div class='table-responsive'>
  <table class='table table-sm table-striped'>
    <tbody>
    <tr>
      <td>Danish, Muffin</td>
      <td class='col-md-3'>$3.00</td>
    </tr>
    <tr>
      <td>Assorted Bagels (with Cream Cheese and Jam)</td>
      <td>$4.00</td>
    </tr>
    <tr>
      <td>Fruit Salad</td>
      <td>$5.00</td>
    </tr>
    <tr>
      <td>OJ, Apple Juice, Cranberry Juice</td>
      <td>$3.00</td>
    </tr>
    <tr>
      <td>Scrambled Eggs, Potatoes, Sausage</td>
      <td>$7.00</td>
    </tr>
    <tr>
      <td>Scrambled Eggs, Potatoes</td>
      <td>$6.00</td>
    </tr>
    <tr>
      <td>Coffee, Tea, Decaf</td>
      <td>$3.00<br>(some Intercon-provided first)</td>
    </tr>
    <tr>
      <td>Assorted Greek Yogurt</td>
      <td>$3.00</td>
    </tr>
    <tr>
      <td>Assorted Granola Bars</td>
      <td>$2.00</td>
    </tr>
  </tbody>
  </table>
</div>

  <h3 class="my-2"><a name='menu-lunch'>Lunch/Dinner</a></h3>
<div class='table-responsive'>
  <table class='table table-sm table-striped'>
    <tbody>
    <tr>
      <td>Assorted Deli Sandwiches<br><span class='ms-4'>Served with Lettuce and Tomatoes, “aioli” on the side</span></td>
      <td class='col-md-3'>$7.00</td>
    </tr>
    <tr>
      <td>Roasted Vegetable and Hummus Wrap</span></td>
      <td>$7.00</td>
    </tr>
    <tr>
      <td>Burger from the Grill<br><span class='ms-4'>Served with Cheese, Lettuce, Tomatoes, and Onions</span></td>
      <td>$8.00</td>
    </tr>
    <tr>
      <td>Chicken Sandwich from the Grill<br><span class='ms-4'>Served with Cheese, Lettuce, Tomatoes, and Onions</span></td>
      <td>$8.00</td>
    </tr>
    <tr>
      <td>Caesar Salad</td>
      <td>$8.00</td>
    </tr>
    <tr>
      <td>Calzones (Spinach or Italian)</td>
      <td>$8.00</td>
    </tr>
    <tr>
      <td>Grilled Italian Sausage<br><span class='ms-4'>Served with Sautéed Onions, Red and Green Peppers</span></td>
      <td>$9.00</td>
    </tr>
    <tr>
      <td>All Beef Hot Dog</td>
      <td>2 for $6.00</td>
    </tr>
    <tr>
      <td>French Fries</td>
      <td>$5.00</td>
    </tr>
    <tr>
      <td>Chili Cheese Fries (with Meat Chili)</td>
      <td>$7.00</td>
    </tr>
    <tr>
      <td>Chicken Fingers Served with Choice of Sauce and French Fries</td>
      <td>$10.00</td>
    </tr>
    <tr>
      <td>Chili and Cheese Nachos (with Meat Chili)</td>
      <td>$7.00</td>
    </tr>
    <tr>
      <td>Chili with Cheese</td>
      <td>$5.00</td>
    </tr>
    <tr>
      <td>Assorted Chips and Popcorn</td>
      <td>$2.00</td>
    </tr>
    <tr>
      <td>Coffee, Tea, and Decaf</td>
      <td>$3.00</td>
    </tr>
    <tr>
      <td>12oz Soda/Bottled Water</td>
      <td>$2.00</td>
    </tr>
    <tr>
      <td>Juice</td>
      <td>$3.00</td>
    </tr>
    <tr>
      <td>Energy Drinks</td>
      <td>$5.00</td>
    </tr>
    <tr>
      <td>Gatorade/Powerade</td>
      <td>$3.00</td>
    </tr>
    <tr>
      <td>Imported Beer</td>
      <td>$7.00</td>
    </tr>
    <tr>
      <td>Domestic Beer Beer</td>
      <td>$6.00</td>
    </tr>
    <tr>
      <td>Wine</td>
      <td>$7.00</td>
    </tr>
    
    </tbody>
  </table>
</div>
      
<h3 class="my-2"><a name='menu-desert'>Desert</a></h3>
<div class='table-responsive'>
  <table class='table table-sm table-striped'>
    <tbody>
    <tr>
      <td>Cookies or Brownies	( Gluten Free available )</td>
      <td class='col-md-3'>$2.00</td>
    </tr>
   
    <tr>
      <td>Candy</td>
      <td>$2.00</td>
    </tr>
    </tbody>
  </table>
</div>
  
</div>
</div>
