/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require 'rails_bootstrap_forms'
 *= require_tree ./application
*/

@import "bootstrap_custom";
@import "font-awesome-sprockets";
@import "font-awesome";

.form-item-label p:last-child, legend p:last-child {
  margin-bottom: 0;
}

.progress-bar {
  transition: width 1s;
}

.anything-bucket {
  background-color: #8fb6db;
}

.schedule-grid {
  border-width: 1px;
  border-top-width: 0;
  border-style: solid;
  border-color: $nav-tabs-border-color;
}

.schedule-grid-event {
  background-color: lighten(map-get($theme-colors, 'info'), 50%);
  border: 1px map-get($theme-colors, 'light') solid;

  &.full {
    opacity: 0.6;
  }

  &.signed-up {
    border-color: map-get($theme-colors, 'info');
  }

  &.event-category-larp {
    background-color: lighten($indigo, 35%);

    &.signed-up {
      border-color: $indigo;
    }
  }

  &.event-category-volunteer-event {
    background-color: $gray-300;

    &.signed-up {
      border-color: $gray-700;
    }
  }

  &.event-category-panel {
    background-color: lighten($yellow, 20%);

    &.signed-up {
      border-color: $yellow;
    }
  }
}

.availability-bar {
  background-color: map-get($theme-colors, 'success');
  position: absolute;
  bottom: 0;
  height: 3px;
  left: 0;
  width: 100%;
  z-index: -1;

  .unavailable {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    background-color: $gray-200;
  }
}
