---
name: Main landing page
invariant: false
skip_clickwrap_agreement: false
---
<h1 class="mb-4">{{ event.title }}</h1>

<div class="d-block d-md-flex">
  <div class="flex-grow-md-1">
    {% long_form_event_details event.id %}
  </div>

  <div class="mt-4 mt-md-0 ml-md-4">
    {% include "info_box" %}
    <div class="mb-3">
      {% event_runs_section event.id %}
    </div>
    {% event_admin_menu event.id %}
  </div>
</div>
