%header.page-header.mb-4
  %h1= t('doorkeeper.authorized_applications.index.title')

- if @applications.any?
  The following applications are authorized to access your account:

  %table.table.table-striped
    %thead
      %th Application
      %th Permissions
      %th
    %tbody
      - scopes_by_app_id = Doorkeeper::AccessToken.active_for(current_user).group_by(&:application_id).transform_values { |tokens| tokens.map(&:scopes).reduce(&:+) }
      - @applications.each do |application|
        %td= application.name
        %td
          %ul
            - (scopes_by_app_id[application.id] || []).each do |scope|
              %li= t scope, scope: [:doorkeeper, :scopes]
        %td= render 'doorkeeper/authorized_applications/delete_form', application: application
- else
  %p There are no outside applications authorized to access your account.
