<%= form_for(cms_file) do |f| %>
  <% if cms_file.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cms_file.errors.count, "error") %> prohibited this cms_file from being saved:</h2>

      <ul>
      <% cms_file.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
