---
admin_notes: This contains all news, vs 0-news, which is just current displayed news
invariant: false
---
<ul class="list-unstyled">
<!--- NEWS ITEM -->
<li class="media d-flex align-items-start news-item">
  <div class="media-body">
    <h5 class="mt-0">Intercon Wants Your Games! <small class="text-muted">January 28, 2024</small></h5>
     <p>
       {{convention.name}} is ready to accept game proposals! New games, old games, your games! Time for the Hype! <a href="{% page_url new-proposal %}">Propose a larp!</a>
   </p>
  </div>
</li>
<!-- END NEWS ITEM --> 

  <!--- NEWS ITEM -->
<li class="media d-flex align-items-start news-item">
  <div class="media-body">
    <h5 class="mt-0">Intercon W Website is live! <small class="text-muted">January 27, 2024</small></h5>
     <p>
       We now have a web presense!  Please bear with us as we get the site fully updated and ready to go!  You may note a new 'Resources menu' above, which is meant to make some reference documents easier to find.
   </p>
  </div>
</li>
<!-- END NEWS ITEM --> 
  


</ul>