---
admin_notes: Not currently used, but if we have to postpone the con, put this in the
  site layout
invariant: true
---
<div class="bg-danger text-white text-center py-2 mb-4">
  <strong>Intercon U is postponed, Extracon 2021 happening instead that weekend!</strong>
  <p>
    Due to the COVID-19 pandemic, Intercon U is postponed until 2022.  However, we're pleased to announce Extracon 2021, an online convention, on the weekend Intercon U was previously scheduled for.
  </p>

  <a href="https://2021.extraconlarp.org" class="btn btn-light me-4">
    Go to the Extracon 2021 site
  </a>
  <a href="https://mailchi.mp/c40b44d55d84/intercon-u-announcement" class="btn btn-light">
    Read the announcement for more details
  </a>
</div>