---
admin_notes: ''
invariant: false
---
{% assign current_date = "now" %}
<div class="copyright text-center small">
  Copyright © {{ current_date | date: "%Y" }} 
  <a target="_blank" rel="noopener" href='http://www.interactiveliterature.org/NEIL'>New England Interactive Literature</a>
  <br>
  All Rights Reserved
  &bull;
  <a href="https://www.neilhosting.net/pages/cookies">Cookie policy</a>
</div>