---
invariant: true
---
<p>How many people can sign up for your session?  If you want to limit the number, choose "limited participants" below and enter the count.  If you don't want to limit the number, choose "unlimited interested attendees" below.</p>

<p>If you want to further divide the ways people can sign up, you can use the "custom registration policy" option below.  (Most events probably won't need to do this.)  This will let you set up custom buckets for your event.  You'll see a preview of the signup interface as you go.</p>