---
admin_notes: ''
invariant: false
---
<h3>Why Propose Early?</h3>

<p>There are several great reasons to get your game proposal in early:</p>

<ul class="mb-0">
  <li>You're likelier to get the time slot you desire. As the schedule fills, the prime time slots fill up.</li>
  <li>Your game gets more publicity and advertising. It's likelier to fill earlier, which will give you more time to cast and plan.</li>
  <li>You get a better chance at attracting the players who know that it's smart to sign up early for games.</li>
  <li>You might miss your chance to propose your game at all if you wait.  There are many GMs who know how much fun it is to run a game at {{ convention.name }}!</li>
</ul>
