---
admin_notes: ''
invariant: true
---
<p>Intercon solicits proposals for larps all through the year. It's our goal to have a great schedule
of events up as early as possible!</p>

<p>Larps with smaller numbers (less than 10 players) will be accepted on a 
conditional basis due to space limitations during Friday night, Saturday 
daytime and Saturday night time slots. Midnight, Sunday, and earlier in the 
con will be easier to schedule for small games.  Also, if you are willing to 
run your small game in part of a larger space alongside a second game, 
please indicate on your form.</p>

<p>
Larp proposals will be evaluated in a timely manner.  Larps can still be submitted at any time, although we may have limited space remaining after the new year.  Please contact the proposal chair if you have any questions.
</p>
