---
invariant: true
---
<p>Intercon is the premiere Live Action Role Playing convention in the
world. We've gotten this way by seeking out a diverse selection of
LARPs, in as many different styles and genres as we can find. Ask
ten LARPers what LARP is about and you'll get thirteen different
answers. We're trying to find interesting games that satisfy as
many of those possibilities as we can. We encourage new authors to
propose games as much as we recruit experienced authors. We also
encourage authors who've never run at an Intercon before to propose.
Whether it's a new game or one that's been run before, we're
interested in what you have to propose.</p>