---
admin_notes: ''
invariant: true
---
<p>As part of the game signup process, players can make one signup-time casting choice.  This section allows you to select what that choice will be, if anything.  For example, you can ask your characters what gender of character they would like to play, or if they would prefer to be Horde or Cast.</p>

<p>First, select one of the pre-built bucket types, or select custom to design your own.</p>

<p>Second, enter the minimum, preferred and maximum number of characters  in each bucket for your LARP. The character counts will be visible to users signing up to your LARP.</p>

<ul>
<li>Minimum - The minimum number of characters of this type required for your LARP. If there are fewer than the minimum number of characters signed up, you should talk with the GM Liaison about lowering the minimum number of characters or cancelling the LARP.</li>
<li>Preferred - The number of characters of this type that you'd prefer to have in your LARP. If you're not sure, make this the same number as the Maximum.</li>
<li>Maximum - The maximum number of characters of this type that your LARP can accommodate.</li>
</ul>

<p>
You can also have a “Flex” bucket set with minimum / preferred / maximum number of characters. During registration, sign-ups will be counted against the Flex bucket only after the bucket that the player selected is filled. For example, in a game that allows for 3 Female, 3 Male, and 4 Flex characters, when signing up for the game, attendees will be presented with the option to request either a Male or Female character. The first three Female character signups will count against the Female bucket, and further Female signups will count against the Flex bucket. If 7 Female character signups are entered, both the Female and the Flex buckets will be full, leaving signups open only for 3 Male characters.  New Female signups will end up on the waitlist.
</p>

<p>Your total game size will be calculated as the maximum number of characters for each bucket, including the Flex bucket.  For example, if you have a max 3 Female, 3 Male characters, 2 Non-Binary characters and 2 Flex characters, your game will max out at 10 characters in total, and the 2 Flex characters will be mapped to the female/male/non-binary bucket based on player signup selection.</p>

<p>At signup time, attendees will be presented with one button for each bucket available in your game.  The website will enforce your bucket limits, so when no roles in one bucket are available, any players that signup using that button will be put on the waitlist for that bucket. Once you've cast the game, you'll be able to "freeze" the bucket balance of the game; essentially converting all of your flex characters to the bucket they used when they signed up.  If a player drops out of your game, the website will pick the first player on the waitlist with a matching signup bucket selection, and you won't have to frantically rewrite the character sheet to match a different selection.
</p>
<p>If your selection includes a 'No Preference' option, attendees will also be presented with a 'No Preference' signup button, placed below the limited bucket options, which will allow them to sign up for your game without specifying a specific bucket.  This will put them in a bucket chosen to minimize conflicts, but also record that they signed up that way, so you know what was requested.
</p>