---
invariant: false
---
{% assign run_availabilities = convention.run_availabilities_with_not_counted_slots %}
{% assign larp_availability = run_availabilities | where: "event_category_name", "Larp" | sort: "starts_at" %}
{% if larp_availability.size > 0 %}
  <section class="my-4">
    <h4 class="my-h4">There's still room for NPCs or unlimited signups in all these great games!</h4>
    <ul>
      {% for availability in larp_availability %}
        <li><a href="{{ availability.run.event.url }}">{{ availability.run.event.title }}</a>: {{ availability.run.starts_at | date: "%a %l:%M%P" }} - {{ availability.bucket_availabilities_with_any_slots | map: "bucket" | map: "name" | to_sentence }}</li>
      {% endfor %}
    </ul>
  </section>
{% endif %}
