<% if @upcoming_cons.present? -%>
	<h1>Upcoming conventions</h1>

	<%= render :collection => @upcoming_cons, :partial => "convention" %>
<% end -%>

<% if @past_cons.present? -%>
	<h1>Past conventions</h1>
  
  <%= render :collection => @past_cons, :partial => "convention" %>
<% end -%>

<% if can? :create, Convention -%>
  <%= link_to "Add a new convention", new_convention_path %>
<% end -%>