<ul class="list-inline">
  <% event.registration_policy.buckets.each do |bucket| %>
    <li class="list-inline-item mr-4">
      <strong><%= bucket.name %>:</strong>
      <% if bucket.slots_limited? %>
        <% if bucket.minimum_slots == bucket.total_slots %>
          <%= bucket.total_slots %>
        <% else %>
          <%= bucket.minimum_slots %>-<%= bucket.total_slots %>
        <% end %>
      <% else %>
        unlimited
      <% end %>
    </li>
  <% end %>
</ul>
