<% @events.each do |event| %>
  <div class="page-break-after">
    <h1>
      <%= event.title %>
    </h1>
    <ul class="list-unstyled" style="columns: 3 auto">
      <% event.runs.order(:starts_at).includes(signups: :user_con_profile).each do |run| %>
        <li>
          <!-- work around poor cross-browser column break avoidance -->
          <div class="mb-4" style="display: inline-block">
            <p class="font-weight-bold mb-0">
              <%= format_run_day_and_time run.starts_at %>
            </p>
            <% if run.signups.any? %>
              <ul class="list-unstyled">
                <% run.signups.select(&:confirmed?).sort_by { |signup| signup.user_con_profile.name_inverted.downcase }.each do |signup| %>
                  <li>
                    <%= signup.user_con_profile.name_inverted %>
                  </li>
                <% end %>
              </ul>
            <% else %>
              <div class="text-danger">No signups for this slot</div>
            <% end %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>
