- @events.each do |event|
  .page-break-after
    %h1= event.title

    %ul.list-unstyled{style: 'columns: 3 auto'}
      - event.runs.each do |run|
        %li
          / work around poor cross-browser column break avoidance
          .mb-2{style: 'display: inline-block'}
            %p.font-weight-bold.mb-0= format_run_day_and_time run.starts_at
            - if run.signups.any?
              %ul.list-unstyled
                - run.signups.select(&:confirmed?).sort_by { |signup| signup.user_con_profile.name_inverted.downcase }.each do |signup|
                  %li= signup.user_con_profile.name_inverted
            - else
              .text-danger No signups for this slot
