form.login {
  max-width: 500px;
  width: 100%;
  
	label {
		display: inline-block;
    width: 30%;
		text-align: right;
		font-style: italic;
    margin-right: 2%;
	}
	
	a {
		font-size: 90%;
		font-style: italic;
	}
	
	input {
    margin: 1px 0;
		
		&[type=text], &[type=email] {
      width: 65%;
		}
		
		&[type=password] {
			width: 30%;
		}

	}
}

.form-text-line, .form-text-area
{
    width: 100%;
}
