name: Release

on:
  release:
    types: [published]

jobs:
  docker-release:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Log in to registry
      run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin
    - name: Pull built image
      run: docker pull ghcr.io/neinteractiveliterature/intercode:${{ github.sha }}
    - name: Tag image with version Tag
      run: docker tag ghcr.io/neinteractiveliterature/intercode:${{ github.sha }} ghcr.io/neinteractiveliterature/intercode:${{ github.event.release.name }}
    - name: Tag image as latest
      run: docker tag ghcr.io/neinteractiveliterature/intercode:${{ github.sha }} ghcr.io/neinteractiveliterature/intercode:latest
    - name: Push to registry
      run: docker push ghcr.io/neinteractiveliterature/intercode:latest && docker push ghcr.io/neinteractiveliterature/intercode:${{ github.event.release.name }}
    # Now do the same for the assets
    - name: Pull built image
      run: docker pull ghcr.io/neinteractiveliterature/intercode-assets:${{ github.sha }}
    - name: Tag image with version Tag
      run: docker tag ghcr.io/neinteractiveliterature/intercode-assets:${{ github.sha }} ghcr.io/neinteractiveliterature/intercode-assets:${{ github.event.release.name }}
    - name: Tag image as latest
      run: docker tag ghcr.io/neinteractiveliterature/intercode-assets:${{ github.sha }} ghcr.io/neinteractiveliterature/intercode-assets:latest
    - name: Push to registry
      run: docker push ghcr.io/neinteractiveliterature/intercode-assets:latest && docker push ghcr.io/neinteractiveliterature/intercode-assets:${{ github.event.release.name }}
  heroku-release:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Install Heroku CLI
      run: curl https://cli-assets.heroku.com/install.sh | sh
    - name: Log in to registry
      run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin
    - name: Pull built image
      run: docker pull ghcr.io/neinteractiveliterature/intercode:${{ github.sha }}
    - name: Log into Heroku Container Registry
      env:
        HEROKU_API_KEY: ${{ secrets.HerokuApiToken }}
      run: heroku container:login
    - name: Tag production image as "web"
      run: docker tag ghcr.io/neinteractiveliterature/intercode:${{ github.sha }} registry.heroku.com/intercode/web
    - name: Push "web" image to Heroku Container Registry
      run: docker push registry.heroku.com/intercode/web
    - name: Build "release" image
      run: docker buildx build -t registry.heroku.com/intercode/release
        --build-arg INTERCODE_TAG=${{ github.sha }}
        --build-arg REVISION=${{ github.sha }}
        -f Dockerfile.release
        --push
        .
    - name: Build and push "shoryuken" image
      run: docker buildx build -t registry.heroku.com/intercode/shoryuken
        --build-arg INTERCODE_TAG=${{ github.sha }}
        -f Dockerfile.shoryuken
        --push
        .
    - name: Release app to Heroku
      env:
        HEROKU_API_KEY: ${{ secrets.HerokuApiToken }}
      run: heroku container:release -a ${{ secrets.HerokuAppName }} web release shoryuken
  notify-slack:
    runs-on: ubuntu-latest
    needs:
      - heroku-release
    steps:
    - name: Format release notes for Slack
      id: format-release-notes
      uses: LoveToKnow/slackify-markdown-action@v1.0.0
      with:
        text: ${{ github.event.release.body }}
    - name: Post about release to Slack
      id: slack
      uses: slackapi/slack-github-action@v1.23.0
      with:
        channel-id: ${{ secrets.SlackReleaseNotificationChannelID }}
        payload: |
          {
            "text": "Intercode ${{ github.event.release.name }} released to production",
            "unfurl_links": false,
            "blocks": [
              {
                "type": "header",
                "text": {
                  "type": "plain_text",
                  "text": "Intercode ${{ github.event.release.name }} released to production"
                }
              },
              { "type": "divider" },
              {
                "type": "section",
                "text": {
                  "type": "mrkdwn",
                  "text": ${{ toJSON(steps.format-release-notes.outputs.text) }}
                }
              }
            ]
          }
      env:
        SLACK_BOT_TOKEN: ${{ secrets.SlackToken }}
  doc-site-release:
    runs-on: ubuntu-latest
    steps:
    - name: Download built doc site
      uses: dawidd6/action-download-artifact@v2.26.0
      with:
        workflow: ci.yml
        commit: ${{ github.sha }}
        name: doc-site
        path: .
        github_token: ${{ secrets.GITHUB_TOKEN }}
    - name: Decompress built site
      run: tar xvf doc-site.tar.gz
    - name: Deploy
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./doc-site/build
        cname: intercode.interactiveliterature.org
