<h1>{{ convention.name }}</h1>

<section class="my-4">
  <h3>{{ convention.name }} News</h3>
  {% include 'news' %}
</section>

{% include 'runs_with_openings' %}
{% include 'user_signups' %}
{% include 'user_team_member_events' %}
{% include 'user_event_proposals' %}
