%nav.navbar.navbar-fixed-top.navbar-expand-md.mb-4{class: navbar_classes, role: "navigation"}
  .container
    %button.navbar-toggler.navbar-toggler-right{type: "button", "data-toggle" => "collapse", "data-target" => "#navbarSupportedContent", "aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation"}
      %span.navbar-toggler-icon
    = root_navigation_menus
