<!doctype html>
<html>
  <head>
    <title>GraphiQL</title>
    <%= stylesheet_link_tag url_with_possible_host('/packs/dev-mode-graphiql.css', ENV['ASSETS_HOST']), media: :all %>
    <%= javascript_include_tag url_with_possible_host('/packs/dev-mode-graphiql.js', ENV['ASSETS_HOST']), type: 'module', defer: true %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
