<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
    <style type="text/css">
      body {
        font-size: 11pt;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
      }

      h1 {
        font-size: 16pt;
      }

      h2 {
        font-size: 14pt;
      }

      h3 {
        font-size: 12pt;
      }

      table {
        border-collapse: collapse;
      }

      thead {
        border-bottom: 2px black solid;
      }

      td, th {
        padding: 6px;
      }

      td {
        vertical-align: top;
      }

      th {
        vertical-align: bottom;
      }

      th[scope=row] {
        text-align: left;
      }

      td p:first-child {
        margin-top: 0;
      }

      td p:last-child {
        margin-bottom: 0;
      }

      thead th {
        text-align: left;
      }

      tbody tr {
        border-top: 1px #777 solid;
      }

      tbody tr:first-child {
        border-bottom: none;
      }

      .text-right {
        text-align: right !important;
      }

      .m-0 {
        margin: 0 !important;
      }

      .border-top-0 {
        border-top: none !important;
      }

      .text-nowrap {
        white-space: nowrap !important;
      }

      .list-unstyled {
        padding: 0;
      }

      .list-unstyled > li {
        list-style-type: none;
      }

      .text-decoration-none {
        text-decoration: none !important;
      }

      .bg-success-light {
        background-color: #9f9;
      }

      .bg-warning-light {
        background-color: #ff9;
      }

      dt {
        font-weight: bold;
      }
    </css>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
