!!!
%html
  %head
    %meta{"http-equiv" => "Content-Type", content: "text/html; charset=utf-8"}
    :css
      body {
        font-size: 11pt;
        font-family: sans-serif;
      }

      h1 {
        font-size: 16pt;
      }

      h2 {
        font-size: 14pt;
      }

      h3 {
        font-size: 12pt;
      }

      table {
        border-collapse: collapse;
      }

      thead {
        border-bottom: 2px black solid;
      }

      td, th {
        padding: 6px;
      }

      td {
        vertical-align: top;
      }

      th {
        vertical-align: bottom;
      }

      td p:first-child {
        margin-top: 0;
      }

      td p:last-child {
        margin-bottom: 0;
      }

      thead th {
        text-align: left;
      }

      tbody tr {
        border-top: 1px #777 solid;
      }

      tbody tr:first-child {
        border-bottom: none;
      }

      .text-right {
        text-align: right !important;
      }

      .m-0 {
        margin: 0 !important;
      }

      .border-top-0 {
        border-top: none !important;
      }

      .text-nowrap {
        white-space: nowrap !important;
      }

      .list-unstyled {
        padding: 0;
      }

      .list-unstyled li {
        list-style-type: none;
      }

      del.diffmod {
        background-color: #e2e2e2;
        color: #333;
        text-decoration: line-through;
        text-decoration-color: #333;
        text-decoration-color: rgba(0, 0, 0, 0.5);
      }

      ins.diffins {
        background-color: #9f9;
        text-decoration: inherit;
      }

      ins.diffmod {
        background-color: #ff9;
        text-decoration: inherit;
      }
  %body
    = yield
