%h1 New signup for #{run_description @signup.run}

%p= signup_description(@signup, "has signed up for", html: true)

= simple_format "As of ths signup, this event run has:\n#{@signup_count_presenter.signups_description}"
